.tpl-theme-peach

    //-------------------------------------------------------------------------
    // header
    //-------------------------------------------------------------------------
    body > header

        // color #fff

        // a
        //     color #fff
        //     &:hover
        //         color #fff

        // Navbar
        .tpl-block-navbar
            // background    #000
            // margin-top    -20px
            // height        50px
            // // margin-bottom -160px
            // padding-top   14px

            // a
            //     color #ff7368

            // login link
            .tpl-link-login a
                color #000
                dashed-underline(#000)


        // Cart
        .icon-cart-blue
            background-image url("../i/inline/icon-cart-peach-large.png")
        .tpl-link-cart
            color #fb936f
            &:hover
                color #000


        Menu
        .tpl-block-menu
            border none !important
            background theme-image('peach', 'menu-bg.png') repeat-x 0 100%
            // border-color #135cbe !important

        .tpl-cart-summary
            font-style normal

    //-------------------------------------------------------------------------
    // Hero banner
    //-------------------------------------------------------------------------

    .tpl-block-hero
        .s-circle
            background none
        .s-info
            text-align left
            top        160px
            left       280px

            p
                color #000 !important
        .s-cost
            color #fb936f !important
            font-size 90px

        Controls
        .tpl-block-prevnext > *
            background #000 !important
            opacity 0.9
            &:hover
                opacity 1

    //-------------------------------------------------------------------------
    // News
    //-------------------------------------------------------------------------

    .tpl-component-news
        h2
            color #ca58be

        > .tpl-link-more
            color #ca58be
        // Row
        .tpl-block-list-object
            // title
            .tpl-property-news-title
                // color        #000
                border-color #ca58be // news row border
            // more link
            a.tpl-link-more
                color #ca58be

    //-------------------------------------------------------------------------
    // [<] [>]
    //-------------------------------------------------------------------------
    .tpl-block-prevnext > *
        opacity .7

        &:hover
            opacity      1 !important
            color        #fe8a62 !important
            border-color #fe8a62 !important


    //-------------------------------------------------------------------------
    // New goods
    //-------------------------------------------------------------------------

    .tpl-block-goods-new

        h2
            color #FE8A62
        .tpl-block-list-object
            article
                position relative
                &:before
                    content    ''
                    position   absolute
                    left       10px
                    top        10px
                    width      95px
                    height     110px
                    background #FFF
                // Star
                .tpl-block-rating-item *
                    color #fe8a62 !important

    //-------------------------------------------------------------------------
    // Сейчас смотрят / аксессуары
    //-------------------------------------------------------------------------

    .tpl-widget-netshop-accessories
    .tpl-block-goods-viewed-now

        article

            // Cart icon
            .tpl-link-cart-add:before
                background-image url("../i/inline/icon-cart-peach.png") !important

    //-------------------------------------------------------------------------

    // Buy btn
    .tpl-link-cart-add-and-checkout
        background #e1e6ea !important
        color      #000 !important

    //-------------------------------------------------------------------------
    // Footer
    //-------------------------------------------------------------------------

    footer
        background #fff

        input
            background #EEE !important

    //-------------------------------------------------------------------------
    // Иконки над товаром
    //-------------------------------------------------------------------------

    .tpl-block-menu-secondary
        *
            color #ca58be
        a:hover
            background-color darken(#fe8a62, 5)
            color #FFF !important

        .tpl-block-menu-secondary-item:hover *
            text-decoration none

        .icon-bluecheck
            background-image url('../i/inline/icon-purplecheck.png')
        .icon-bluetruck
            background-image url('../i/inline/icon-purpletruck.png')
        .icon-bluecards
            background-image url('../i/inline/icon-purplecards.png')
        .icon-bluepin
            background-image url('../i/inline/icon-purplepin.png')

    //-------------------------------------------------------------------------
    // Звездочки
    //-------------------------------------------------------------------------

    .tpl-block-rating
        .tpl-block-rating-item *
            color #fe8a62 !important

    //-------------------------------------------------------------------------
    // Параметры товара
    //-------------------------------------------------------------------------

    .tpl-block-cart-form
        // border-color #3ab3ff !important
        // .tpl-state-available
        //     &,*
        //         color #135cbe !important
        // .tpl-divider
        //     border-color #c1ab99 !important

        .tpl-link-cart-add
            // background-color #c7b3a3 !important
            &:hover
                background-color #e1e6ea !important
                color #333 !important
                &:before
                    background-image url('../i/inline/icon-cart-black.png') !important

    //-------------------------------------------------------------------------

    .tpl-block-banner-text
        background #000 !important
        p
            color #FFF


    .tpl-link-more.tpl-link-select-variant
    button[type="submit"]
        background #e1e6ea
        color      #333

    .tpl-property-original-price
        opacity 1 !important
        color #000 !important
        &:after
            border-color #fe8a62 !important

    .tpl-component-goods .tpl-layout-tiles article > a
        color #000

    //-------------------------------------------------------------------------
    //-------------------------------------------------------------------------
    //-------------------------------------------------------------------------
    .tpl-block-hero
        // .tpl-block-hero-item a:before
        //     content ''
        //     position absolute
        //     left 460px
        //     top 0
        //     right 21px
        //     // height 100%
        //     bottom 0
        //     background #e1e6ea

    //     background    #e1e6ea
    //     border-bottom 30px solid #FFF

    .tpl-block-tabs--footer .tpl-block-tabs-switcher
        border none
        background theme-image('peach', 'menu-bg.png') repeat-x 0 100%

    .nc_comments .dashed
        A
            border-bottom-color: #ca58be

        A:hover
            border-bottom-color: #fb936f
			
    .tpl-block-content h1
        color: #ca58be
    .tpl-component-goods.tpl-block-full h1
        color: #000000


    .tpl-block-goods-new
    .tpl-block-goods-offers
    .tpl-block-goods-viewed-now
    .tpl-block-goods-bought-recently
    .tpl-widget-netshop-accessories
    .tpl-widget-netshop-bought-together
    .tpl-widget-netshop-viewed-together
    .tpl-widget-netshop-compare
    .tpl-widget-netshop-favorite
    .tpl-widget-netshop-viewed-by-user
        // Buy btn
        .tpl-link-cart-add-and-checkout
        .tpl-link-select-variant
            background #e1e6ea !important
            color      #000 !important
            &:hover
                background #fb936f !important
                color #FFF !important

    #goodslist-compare-remove-confirm button
    #goodslist-favorite-remove-confirm button
    #cart-item-remove-confirm
    .nc-form button
        background #e1e6ea !important
        color      #000 !important
        &:hover
            background #fb936f !important
            color #FFF !important

    .tpl-component-goods .tpl-layout-list a.tpl-link-select-variant
        background: #e1e6ea !important
        &:hover
            background: #ca58be !important