.tpl-theme-red
  .tpl-block-goods-new
  .tpl-block-goods-offers
  .tpl-block-goods-viewed-now
  .tpl-block-goods-bought-recently
  .tpl-widget-netshop-accessories
  .tpl-widget-netshop-bought-together
  .tpl-widget-netshop-viewed-together
  .tpl-widget-netshop-compare
  .tpl-widget-netshop-favorite
  .tpl-widget-netshop-viewed-by-user
    // Buy btn
    .tpl-link-cart-add-and-checkout
    .tpl-link-select-variant
      background: #eaeff2 !important
      &:hover
        background: #fd4c41 !important

  #goodslist-compare-remove-confirm button
  #goodslist-favorite-remove-confirm button
  #cart-item-remove-confirm
  .nc-form button
    background: #eaeff2 !important
    &:hover
      background: #fd4c41 !important

  .tpl-component-goods .tpl-layout-list a.tpl-link-select-variant
    background: #eaeff2 !important
    &:hover
      background: #102889 !important