.tpl-theme-orange

    //-------------------------------------------------------------------------
    // header
    //-------------------------------------------------------------------------
    body > header

        // color #fff

        // a
        //     color #fff
        //     &:hover
        //         color #fff

        // Navbar
        .tpl-block-navbar
            // background    #135cbe
            // margin-top    -20px
            // height        250px
            // margin-bottom -160px
            // padding-top   14px

            // a
            //     color #ff7368

            // login link
            .tpl-link-login a
                color #000
                dashed-underline(#000)


        // Cart
        .icon-cart-blue
            background-image url("../i/inline/icon-cart-red2-large.png")
        .tpl-link-cart
            color #000
            &:hover
                color #B81B35


        // Menu
        .tpl-block-menu
            // border-color #135cbe !important

            div > a
                color #b81b35
                &:hover
                    color #b81b35

        .tpl-cart-summary
            font-style normal
        // .tpl-state-current
        //     color #FFF !important

    //     // Search
    //     .tpl-block-search-query
    //         input
    //             color #000 !important

    //         input:placeholder
    //         input:-moz-placeholder
    //         input::-webkit-input-placeholder
    //             color #333
    //         button
    //             opacity 1
    //             .icon-search
    //                 color #161312

    //-------------------------------------------------------------------------
    // Sidebar menu
    //-------------------------------------------------------------------------

    aside .tpl-block-menu-secondary
        // background #3ab3ff !important
        a
            color #B81B35 !important
            &:hover
                background #e5a91b !important
                color #000 !important
        // &:before
        //     border-bottom-color #3ab3ff !important

    //-------------------------------------------------------------------------
    // Hero banner
    //-------------------------------------------------------------------------

    .tpl-block-hero
        .s-circle
            background none
        .s-info
            text-align left
            top        160px
            left       280px

            p
                color #000 !important
        .s-cost
            color #b81b35 !important
            font-size 90px

        // Controls
        // .tpl-block-prevnext > *
        //     background #161312 !important
        //     opacity 0.9
        //     &:hover
        //         opacity 1

    // //-------------------------------------------------------------------------
    // // Modal
    // //-------------------------------------------------------------------------

    // // // background
    // // .tpl-block-mfp-bg
    // //     background #161312

    // // // modal window
    // // .tpl-block-popup
    // //     background #7c6761

    // //-------------------------------------------------------------------------
    // // Form
    // //-------------------------------------------------------------------------

    // button[type="submit"]
    //     background #161312
    //     color      #FFF

    //-------------------------------------------------------------------------
    // News
    //-------------------------------------------------------------------------

    .tpl-component-news
        h2
            color #b81b35

        > .tpl-link-more
            color #b81b35
        // .tpl-property-date
        //     color #BCBABB !important
        // Row
        .tpl-block-list-object
            // title
            .tpl-property-news-title
                // color        #000
                border-color #b81b35 // news row border
            //     font-stretch condensed
            //     &:hover
            //         text-decoration underline
            //         color #C3C3C3
            // // announce
            // .tpl-property-announce
            //     color #C3C3C3

            // more link
            a.tpl-link-more
                color #b81b35

    //-------------------------------------------------------------------------
    // [<] [>]
    //-------------------------------------------------------------------------
    .tpl-block-prevnext > *
        opacity .7

        &:hover
            opacity      1 !important
            color        #b81b35 !important
            border-color #b81b35 !important

    //-------------------------------------------------------------------------
    // New goods
    //-------------------------------------------------------------------------

    .tpl-block-goods-new

        .tpl-block-list-object
            article

                position relative
                &:before
                    content    ''
                    position   absolute
                    left       10px
                    top        10px
                    width      95px
                    height     110px
                    background #FFF

    //             background   #f7f7f7
    //             border-color @background

    //             // *
    //             //     color          #000
    //             //     text-transform none

    //             // Star
    //             // .tpl-block-rating-item *
    //             //     color #FFF !important

    // //-------------------------------------------------------------------------
    // // Сейчас смотрят / аксессуары
    // //-------------------------------------------------------------------------

    // .tpl-widget-netshop-accessories
    // .tpl-block-goods-viewed-now
    //     h2
    //         color #102889

    //     article
    //         border-color #e1e6ea !important

    //         *
    //             color #000

    //         // // Star
    //         // .tpl-block-rating-item *
    //         //     color #7c6761 !important

    //         // Cart icon
    //         // .tpl-link-cart-add:before
    //         //     @extend .icon-cart-brown
    //     .tpl-block-prevnext > *:hover
    //         color        #102889 !important
    //         border-color #102889 !important

    // //-------------------------------------------------------------------------

    // Buy btn
    .tpl-link-cart-add-and-checkout
        background #e1e6ea !important
        color      #000 !important

        &:hover
            background #b81b35 !important
            // box-shadow inset 0 0 0 5px #e1e6ea
            color #FFF !important

    // //-------------------------------------------------------------------------

    // .tpl-block-tabs--footer
    //     .tpl-block-tabs-wrapper
    //         background #3ab3ff


    // //-------------------------------------------------------------------------
    // // Footer
    // //-------------------------------------------------------------------------

    footer
        background #fff

        input
            background #EEE !important
    //     *
    //     .tpl-block-footer-list-item a
    //         color #fff !important

    //     .tpl-block-footer-list
    //         border-color #fff

    // //-------------------------------------------------------------------------
    // // Иконки над товаром
    // //-------------------------------------------------------------------------

    .tpl-block-menu-secondary
        *
            color #fbb50c
        .tpl-block-menu-secondary-item:hover *
            text-decoration none
            // color #FFF !important
        .icon-bluecheck
            background-image url('../i/inline/icon-yellowcheck.png')
        .icon-bluetruck
            background-image url('../i/inline/icon-yellowtruck.png')
        .icon-bluecards
            background-image url('../i/inline/icon-yellowcards.png')
        .icon-bluepin
            background-image url('../i/inline/icon-yellowpin.png')

    // //-------------------------------------------------------------------------
    // // Звездочки
    // //-------------------------------------------------------------------------

    // .tpl-block-rating
    //     .tpl-block-rating-item *
    //         color #ffd542 !important

    // //-------------------------------------------------------------------------
    // // Кол-во
    // //-------------------------------------------------------------------------

    // // .tpl-block-amountchoice-value
    // //     background #c3c3c3
    // //     color #000

    // //-------------------------------------------------------------------------
    // // Параметры товара
    // //-------------------------------------------------------------------------

    .tpl-block-cart-form
        // border-color #3ab3ff !important
        // .tpl-state-available
        //     &,*
        //         color #135cbe !important
        .tpl-divider
            border-color #fbb50c !important

        .tpl-link-cart-add
            background-color #b81b35 !important
            &:hover
                background-color #e1e6ea !important
                color #333 !important
                &:before
                    background-image url('../i/inline/icon-cart-black.png') !important

    // //-------------------------------------------------------------------------

    // // .tpl-block-tabs
    // //     .tpl-block-tabs-tab
    // //         color #7c6761
    // //         &.tpl-state-current
    // //             color #FFF

    // p
    //     color #000

    // // .tpl-block-filter .nc_netshop_filter_row
    // //     background #7C6761

    // .tpl-property-type:after
    //     display none !important

    // // .tpl-block-list-object
    // //     article
    // //         border-color #7c6761

    // // .tpl-component-goods .tpl-layout-tiles article > a:hover h3
    // //     color #7c6761

    .tpl-block-banner-text
        background #b81b35
        p
            color #FFF

    // .tpl-block-list-prefix .tpl-link-pseudo.tpl-state-active i.icon-lowtohight
    // .tpl-block-list-prefix .tpl-link-pseudo.tpl-state-active i.icon-highttolow
    //     color #ff7368

    // .chosen-container *
    //     color #000 !important

    button[type="submit"]
        background #c3c3c3
        color      #333

    .tpl-property-original-price
        opacity 1 !important
        color #000 !important
        &:after
            border-color #b81b35 !important

    .nc_comments .dashed
        A
            border-bottom-color: #b81b35

        A:hover
            border-bottom-color: #fbbc24
    .tpl-block-content h1
        color: #b81b35
    .tpl-component-goods.tpl-block-full h1
        color: #000000

    .tpl-block-goods-new
    .tpl-block-goods-offers
    .tpl-block-goods-viewed-now
    .tpl-block-goods-bought-recently
    .tpl-widget-netshop-accessories
    .tpl-widget-netshop-bought-together
    .tpl-widget-netshop-viewed-together
    .tpl-widget-netshop-compare
    .tpl-widget-netshop-favorite
    .tpl-widget-netshop-viewed-by-user
        // Buy btn
        .tpl-link-select-variant
            background #e1e6ea !important
            color      #000 !important
            &:hover
                background #b81b35 !important
                // box-shadow inset 0 0 0 5px #e1e6ea
                color #FFF !important

    #goodslist-compare-remove-confirm button
    #goodslist-favorite-remove-confirm button
    #cart-item-remove-confirm
    .nc-form button
        background #e1e6ea !important
        color      #000 !important
        &:hover
            background #b81b35 !important
            // box-shadow inset 0 0 0 5px #e1e6ea
            color #FFF !important

    .tpl-component-goods .tpl-layout-list a.tpl-link-select-variant
        background: #e1e6ea !important
        &:hover
            background: #b81b35 !important