min    = 'only screen and (max-device-width: 760px)'
notMin = 'only screen and (min-device-width: 761px)'
max    = 'only screen and (min-width: 1850px)'
narrow = 'only screen and (min-device-width: 761px) and (max-device-width: 1199px)'

fontFamily = Roboto, Arial, sans-serif
fontSize   = 14px
fontSizeMobile = 21px
lineHeight = 2.15
fontWeight = 300

bgColor    = #ffffff
colorBase  = #000000
colorGray  = #7d7d7d
colorBlue  = #102889
colorRed   = #fd4c41
colorWhite = #ffffff
colorDull  = #E1E6EA

default-colors = {
    bg: #ffffff
    base: #000000
    gray: #7d7d7d
    accent-1: #102889      // accent color 1: blue
    accent-2: #fd4c41      // accent color 2: red
    white: #ffffff
    dull: #E1E6EA
    price-strike: #fd4c41

    accent-1-darker: #000E52
    accent-2-darker: #C3202A
    // /*accent-2-variant: #F62733*/

    navbar-bg:         false
    navbar-link:       false
    navbar-login-link: false

    input-bg: #fff
    input-bg-darker: #D2D7DB
    table-bg: #F9F9F9
    table-bg-darker: #DAE0E5

    filter-separator: #ADADAD
    filter-bg: #F5F5F5

    tabs-bg: #7f8c8d
    tabs-bg-mobile: #C8C7CC
    tabs-bg-wrapper: #ADB5B5

    small-tile-bg: #F5F5F5

    footer-separator: #B9C2C5
    footer-separator-mobile: #798992

    mobile-hero-small-text: #8f8f8f

    mobile-header-bg: #0B135F

    placeholder: #9d9c9c

    disabled: #ccc
  }


themes = {
  red: {
      accent-1:        #102889      // accent color 1: blue
      accent-2:        #fd4c41      // accent color 2: red
      dull:            #E1E6EA
      accent-1-darker: #000E52
      accent-2-darker: #C3202A
    }
  brown: {
      bg:              #312623 theme-image('brown', 'body-bg.jpg')
      base:            #FFF
      gray:            #7c6761
      accent-1:        #FFFFFF      // accent color 1: blue
      accent-2:        #161312      // accent color 2: red
      accent-1-darker: #7c6761
      // accent-2-darker: darken(#ebc02f, 30%)

      input-bg: #FFF
  }
  blue: {
    bg:              #FFF
    base:            #000
    gray:            #3ab3ff

    accent-1:        #ff7368      // accent color 1: blue
    accent-2:        #3ab3ff      // accent color 2: red
    accent-1-darker: #135cbe
    // accent-2-darker: darken(#ebc02f, 30%)

    input-bg: #FFF
  }

  orange: {
    bg:              #FFF
    base:            #000
    gray:            #9b9b9b

    accent-1:        #b81b35      // accent color 1: blue
    accent-2:        #fbbc24      // accent color 2: red
    accent-1-darker: #fbbc24
    // accent-2-darker: darken(#ebc02f, 30%)

    // input-bg: #FFF
  }

  beige: {
    bg:              #FFF
    base:            #000
    gray:            #9b9b9b

    accent-1:        #c7b3a3      // accent color 1: blue
    accent-2:        #c7b3a3      // accent color 2: red
    accent-1-darker: #c7b3a3
    // accent-2-darker: darken(#ebc02f, 30%)

    // input-bg: #FFF
  }

  peach: {
    bg:              #FFF
    base:            #000
    gray:            #9b9b9b

    accent-1:        #ca58be      // accent color 1: blue
    accent-2:        #fb936f      // accent color 2: red
    accent-1-darker: #fb936f
    // accent-2-darker: darken(#ebc02f, 30%)

    // input-bg: #FFF
  }

  grey-green: {
    bg:                 #FFF
    base:               #000
    gray:               #9b9b9b
    dull:               #9e7985
    accent-1:           #268c59      // accent color 1: blue
    accent-2:           #beabb1      // accent color 2: red
    accent-1-darker:    #beabb1
    accent-2-darker:    #9e7985
    placeholder:        #9e7985
  }

  grey-pink: {
    bg:                 #FFF
    base:               #000
    gray:               #86889a
    dull:               #86889a
    accent-1:           #b62b55      // accent color 1: blue
    accent-2:           #b62b55      // accent color 2: red
    accent-1-darker:    #b62b55
    // accent-2-darker:    #9e7985
    // placeholder:        #9e7985
  }

  grey-wood: {
    bg:                 #FFF
    base:               #000
    gray:               #577395
    dull:               #577395
    accent-1:           #95542d      // accent color 1: blue
    accent-2:           #95542d      // accent color 2: red
    accent-1-darker:    #95542d
    // accent-2-darker:    #9e7985
    // placeholder:        #9e7985
  }

  grey-red: {
    bg:                 #FFF
    base:               #000
    gray:               #7a7e87
    dull:               #7a7e87
    accent-1:           #de4112      // accent color 1: blue
    accent-2:           #242863      // accent color 2: red
    accent-1-darker:    #c03004
    // accent-2-darker:    #9e7985
    // placeholder:        #9e7985
  }
}

