@media only screen and (max-device-width: 760px)
{		
	body > header .tpl-block-navbar
	{
		width: auto;
	}
	body > header .tpl-block-navbar .tpl-link-order-info
	{
		left: 0;
	}
	body > header .tpl-block-navbar .tpl-link-order-info,body > header .tpl-block-navbar .tpl-block-auth
	{
		padding-left: 5px;
		width: 50%;
	}		
	*:active
	{
		-moz-transform: none!important;
		-webkit-transform: none!important;
		transform: none!important;
		color: inherit!important;
		outline: none!important;
	}
	.tpl-block-auth-form, .tpl-block-mfp-close, 
	{
		padding: 0!important;
	}	
}