.interview {
  position: fixed;
  z-index: 100;
  top: 10px;
  right: -330px;
  width: 330px;
  background: #dce6f0;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 7px 0px rgba(50, 50, 50, 0.5);
}
.interview.active {
  right: 0px;
  transition: all 0.1s;
}
.interview .wrapper {
  padding: 23px 22px 6px 22px;
}
.interview .wrapper:first-child {
  border-bottom: 1px solid #97abc0;
}
.interview .wrapper:last-child {
  padding: 13px 22px 8px 22px;
}
.interview .showInterview {
  width: 48px;
  height: 365px;
  position: absolute;
  right: 330px;
  top: 70px;
  background: url('../img/interview.png') center no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}
.interview .h2 {
  font-family: 'PTSansBold';
  font-size: 18px;
  color: #333333;
  line-height: 24px;
}
.interview .h2 span {
  color: #de5958;
}
.interview form {
  margin: 20px 0 0 0;
}
.interview .formControl {
  margin: 0 0 14px 0;
}
.interview label {
  width: 55px;
  font-family: 'PTSansItalic';
  font-size: 16px;
  color: #333333;
  position: relative;
  top: 6px;
}
.interview .formControl input[type='text'] {
  width: 216px;
  margin: 0 0 0 10px;
  height: 36px;
  border: 1px solid #a4a4a4;
  padding: 3px 5px;
}
.interview .formControl button {
  width: 100%;
  height: 57px;
  line-height: 57px;
  font-family: 'PTSansBold';
  font-size: 18px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0 0 0;
  border: none;
  position: relative;
}
.greenModal {
  text-shadow: 0px -1px 0px rgba(78, 135, 37, 1);
  background: #6db337;
}
.redModal {
  text-shadow: 0px -1px 0px rgba(173, 43, 42, 1);
  background: #de5958;
}
.interview .warnText {
  position: absolute;
  z-index: 5;
  top: 18%;
  left: 0px;
  width: 100%;
  background: white;
  border: 1px solid #6db337;
  padding: 20px;
  color: #000;
  text-align: center;
  display: none;
}
.interview .formControl button .preloader {
  position: absolute;
  top: 15px;
  left: 50px;
}
#cboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0,0,0,0.7);
}
.modalWindow.active {
  position: fixed;
  opacity: 1;
  display: block;
  z-index: 10000;
}
.modalWindow {
  position: fixed;
  z-index: 10000;
  left: 50%;
  margin-left: -170px;
  top: 30%;
  width: 340px;
  padding: 40px 0 40px 0;
  background: url(../img/authBoxBg.jpg) center top;
  opacity: 0;
  display: none;
  font-family: 'Glober Regular';
  text-align: center;
  font-size: 18px;
}
.type_block {
  position: relative;
  z-index: 10000;
}
.closeModalWindow {
  font-family: 'PTSansRegular';
  content: 'ÃƒÆ’Ã¢â‚¬â€';
  position: absolute;
  z-index: 2;
  top: -35px;
  right: 15px;
  color: #999999;
  font-size: 36px;
  cursor: pointer;
}
.modalWindow.getCall .title {
  margin: 0 auto 28px auto;
}
.modalWindow .block {
  margin: 0 0 25px 0;
}
.modalWindow .title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 33px auto;
}
.modalWindow form, .modalWindow .title {
  width: 247px;
  margin: 0 auto;
}
.modalWindow.getCall .block {
  margin: 0 0 21px 0;
}
.modalWindow input[type="text"], .modalWindow input[type="password"] {
  height: 35px;
  line-height: 36px;
  width: 100%;
  padding: 0 12px;
  font-size: 14px;
  color: #999999;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
}
.formButton {
  margin: 6px 0 0 0;
}
.modalWindow.getCall button {
  height: 37px;
  line-height: 40px;
  width: 100%;
  margin-left: 0px;
  margin-top: -1px;
}
.modalWindow button, .modalWindow input[type="submit"] {
  height: 28px;
  line-height: 31px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  color: #fffefe;
  background: #6db337;
  border: none;
  margin-left: -5px;
  margin-top: -1px;
  position: relative;
}
.modalWindow input[type="submit"] {
  display: block;
  width: 100%;
  padding: 3px 0;
  height: auto;
  margin: 0 0 15px 0;
}
#cboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0,0,0,0.7) !important;
}


.warnText{
  display:none;
  font-size: 20px;
  border: 1px solid;
  padding: 20px;
  width: 60%;
  margin: 0 auto 12px auto;
}

.warnText.w{
  color:#ffffff;
}

.warnText.b{
  color:#293134;
}