<!-- Header -->%Header
<div id="header">
    <div id="banner" style="<?= $template_settings['home_banner'] ? 'background: url(\''.$template_settings['home_banner']['path'].'\') no-repeat scroll center 0 #eaeaea;' : ''; ?>"></div>
    <div id="header_block">
        <div id="logo">
            <a href="/">
                <img src='<?= $template_settings['logotype']['path'] ?>' alt='Ваша компания' title='<?= $template_settings['logo_title'] ?>' />
            </a>
        </div>

        <div id="header_right_block">
            <? /* Проверяем счетчик интернет-магазина и добавляем стиль */ ?>
            <?php 
            switch($nc_core->get_settings('nc_shop_mode_' . $catalogue)) {
                case 1:
                    echo '<div class="cart">';
                    echo $nc_minishop->show_cart_state();
                    echo '</div>';
                    break;
                case 2: ?>
                        <div class="cart" <? if (!$NETSHOP["Netshop_ItemCount"]) { ?> style="color: rgb(51, 51, 51); padding-top: 17px; font-size: 13px; height: 18px;" <? } ?>>
                             <? /* Выводим корзину интернет-магазина */ ?>
                             <?= $GLOBALS['Netshop_CartSum'] ?>
                        </div>
                <?php break;
            }
            ?>
            <div class="phone_number">
                <?= $template_settings['phone_number'] ?>
            </div>
        </div>

        <img src="/images/template1/i/images_gray-green/banner_text.png" alt="" id="banner_text" />
        <a href="#" id="banner_more"><img src="/images/template1/i/images_gray-green/more.png" alt="" /></a>
        <? /* Выводим верхнее меню сайта в соответствии с шаблоном $browse_top_menu */ ?>
        <?= nc_browse_sub(0, $browse_top_menu) ?>
    </div>
</div>
<div id="middle">
    <div id="middle_block">
        <? /* Выводим "хлебные крошки" в соответствии с шаблоном $browse_path */ ?>
        <?= nc_browse_path($browse_path) ?>
        <div class="left_content">
            <? /* Для полного отображения объекта выводи альтернативный заголовок, если есть */ ?>
            <h1><?= ($action == 'full' ? $nc_core->page->get_h1() : ($current_sub['AlterTitle'] ? $current_sub['AlterTitle'] : ($nc_core->page->get_h1() == 'Продукты' ? 'Оформление заказа' : $nc_core->page->get_h1()))) ?></h1><!-- /Header -->

<!-- Footer --><div class="clear"></div>
        </div>
        <div class="right_content">
            <? /* Выводим меню сайта второго уровня с шаблоном $browse_sub[1] */ ?>
            <?= s_browse_level(1, $browse_sub[1]) ?>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear clear_footer"></div>
</div>
%Footer<!-- /Footer -->