<!-- Header --><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=<?=$nc_core->NC_CHARSET?>" />

<? /* Блок SEO/SMO */ ?>
<? /* Запрос заголовка через ядро системы, если нету, то выводим хлебные крошки */ ?>
<title><?=( ($title = $nc_core->page->get_title()) ? $title : strip_tags(s_browse_path($browse_path_title)))?></title>
<?= $nc_core->page->get_metatags(); ?>

<link rel="stylesheet" rev="stylesheet" type="text/css" href="/images/template1/css/main.css" />
<? /* Блок подключения стилей CSS в зависимости от настроек макета дизайна */ ?>
<link rel="stylesheet" rev="stylesheet" type="text/css" href="/images/template1/css/template_gray-green.css" />
<script type="text/javascript" src="<?=$HTTP_TEMPLATE_PATH?>jquery/jquery.min.js"></script>
<?= nc_js() ?>
<script type="text/javascript" src="/images/template1/css/lib.js"></script>
</head>
<body>
<div id="wrap">


	<!-- /Header -->

<!-- Footer --><div id="footer">
<? /* Используем микроразметку для вывода информации, которая заполняется в визуальных настройках сайта */ ?>
    <div itemscope itemtype="http://schema.org/Organization">
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><div id="adress"><?= $template_settings['CompanyAddress'] ?></div></div>
        <div id="contacts">
            <?= $template_settings['Contacts'] ?>
            <div>
                <? /* Если устройство не десктоп, то выводим ссылку на мобильный сайт */ ?>
                <?= ($nc_core->return_device() != 'desktop' ? '<a href=http://' . $nc_core->subdivision->get_alternative_link() . '>мобильная версия сайта</a>' : ' ') ?>
            </div>
        </div>
        <div id="license"><?= $template_settings['Copy'] ?></div>
    </div>


<? /* Форма поиска */ ?>
    <div id="search_form">

        <?= class_exists('nc_search') ? 
        nc_search::get_object()->show_form(null, array('prefix' => "<form class='nc_search' action='\$actionurl' method='get'>
                         <div style='width: 132px;'>
                             <input class='search_text text' type='text' size='\$inputsize' name='search_query'
                              id='nc_search_query' value='' />
                             <div class='left'></div>
                             <div class='right'></div>
                         </div>
	                 <div class='block_right alt_width2'>
                              <input class='search_submit submit' type='submit' value='\$submitname' />
                         </div>",
                'suffix' => "</form>")) : "";
        ?>


    </div>

    <div id="top_100">
        <div class="block"><?= $template_settings['counter'] ?></div>
    </div>
        <? /* Вывести меню в футере, в соответствии с шаблоном $bottom_menu*/ ?>
        <?= nc_browse_sub (0,$bottom_menu) ?>

</div>

<? /* Всплывающее окно для вывода формы авторизации */ ?>
<div id="login_form">
    <a href="#" class="close"></a>
    <? /* Стандартная форма авторизации */ ?>
    <?= is_object($nc_auth) ? $nc_auth->auth_form() : "" ;?></div>
</body>
</html><!-- /Footer -->