<!-- Header -->%Header
<?=$nc_core->widget->show('yandexmaps_new') ?>
<div id="header_main">
    <div id="banner" style="<?= $template_settings['home_banner'] ? 'background: url(\''.$template_settings['home_banner']['path'].'\') no-repeat scroll center 0 #eaeaea;' : ''; ?>"></div>
    <div id="header_block">
        <div id="logo">
            <img src='<?= $template_settings['logotype']['path'] ?>' alt='Ваша компания' title='<?= $template_settings['logo_title'] ?>' />            
        </div>

        <div id="header_right_block">
            <? /* Проверяем счетчик интернет-магазина и добавляем стиль */ ?>
        <?php 
            switch($nc_core->get_settings('nc_shop_mode_' . $catalogue)) {
                case 1:
                    echo '<div class="cart">';
                    echo $nc_minishop->show_cart_state();
                    echo '</div>';
                    break;
                case 2: ?>
                        <div class="cart" <? if (!$NETSHOP["Netshop_ItemCount"]) { ?> style="color: rgb(51, 51, 51); padding-top: 17px; font-size: 13px; height: 18px;" <? } ?>>
                             <? /* Выводим корзину интернет-магазина */ ?>
                             <?= $GLOBALS['Netshop_CartSum'] ?>
                        </div>
                <?php break;
            }
            ?>            
            <div class="phone_number">
                <?= $template_settings['phone_number'] ?>
            </div>
        </div>

        <img src="/images/template1/i/images_gray-green/banner_text.png" alt="" id="banner_text" />
        <a href="/about/" id="banner_more"><img src="/images/template1/i/images_gray-green/more.png" alt="" /></a>
        <? /* Выводим верхнее меню сайта в соответствии с шаблоном $browse_top_menu */ ?>
        <?= nc_browse_sub(0, $browse_top_menu) ?>

    </div>
</div>
<img src="/images/template1/i/images_gray-green/banner_text.png" alt="" id="banner_text" />
<a href="#" id="banner_more"><img src="/images/template1/i/images_gray-green/more.png" alt="" /></a>

<div id="middle_main">
    <div class="left_content">
        <div class="h1"><?= $template_settings['block_left_header'] ?></div>
        <? /* Выводим объекты для компонента, указанного в настройках макета */ ?>
        <?= nc_objects_list(0, $template_settings['block_left_cc'], "nc_title=1&nc_num_cols=" . $template_settings['block_left_cols']) ?>
    </div>
    <div class="center_content">
        <div class="h1"><?= $template_settings['block_center_header'] ?></div>
        <? /* Выводим объекты для компонента, указанного в настройках макета */ ?>
        <?= nc_objects_list(0, $template_settings['block_center_cc'], "nc_num_cols=" . $template_settings['block_center_cols']) ?>
        <?            
            $nc_core = nc_Core::get_object();
            $news_sub_class = $nc_core->sub_class->get_by_id($template_settings['block_center_cc']);
            $news_subdivision = $nc_core->subdivision->get_by_id($news_sub_class['Subdivision_ID']);
        ?>
        <a href="<?= $news_subdivision['Hidden_URL'] ?>">Архив новостей</a>
    </div>
    <div class="right_content">
        <div class="h1"><?= $template_settings['block_right_header'] ?></div>
        <? /* Выводим объекты для компонента, указанного в настройках макета */ ?>
        <?= nc_objects_list(0, $template_settings['block_right_cc'], "nc_num_cols=" . $template_settings['block_right_cols']) ?>        
    </div>
    <div class="clear"></div>
</div><!-- /Header -->

<!-- Footer -->	<div id="slider">
    
</div>

<div class="clear clear_footer"></div>
</div>
%Footer<!-- /Footer -->