<!doctype html>
<html lang='ru'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <? /* Блок SEO/SMO */ ?>
    <? /* Запрос заголовка через ядро системы, если нету, то выводим хлебные крошки */ ?>
    <title><?=$f_title ?> <?=(($title = $nc_core->page->get_title()) ? $title : strip_tags(s_browse_path($browse_path_title))) ?></title>
    <?= $nc_core->page->get_metatags(); ?>
    
    <script type="text/javascript" src="<?=$HTTP_TEMPLATE_PATH?>jquery/jquery.min.js"></script>
    <script type="text/javascript" src="<?=$HTTP_TEMPLATE_PATH?>jquery/jquery.nclsdisplay.js"></script>
    <style>
        #sidebar .footer{top: 400px; bottom: auto;}
    </style>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map('company-map', {
                center: [55.76, 37.64],
                zoom: 15
            });
        
            // Поиск координат
            ymaps.geocode('<?= $template_settings['CompanyAddress']; ?>', {
                results: 1 // Нужен один результат
            }).then(function (res) {
                    // Выбираем первый результат геокодирования.
                    var firstGeoObject = res.geoObjects.get(0),
                        // Координаты геообъекта.
                        coords = firstGeoObject.geometry.getCoordinates(),
                        // Область видимости геообъекта.                        
                        bounds = firstGeoObject.properties.get('boundedBy');
        
                    // Добавляем первый найденный геообъект на карту.
                    myMap.geoObjects.add(firstGeoObject);
                    
                    myMap.zoomRange.get(coords).then(function (range) {
                        myMap.setCenter(coords, range[1]);
                    });
                    
                    //myMap.setCenter(coords, range[1]);
                    
                    //myMap.setBounds(bounds);
                    
                    // Масштабируем карту на область видимости геообъекта.
                    //myMap.setBounds(bounds, {
                    //    checkZoomRange: true // Проверяем наличие тайлов на данном масштабе
                    //});
                });
          }
    </script>    
</head>
<body>
<div id='container'>
    
    <? if ( $nc_core->get_settings('nc_shop_mode') == 2 ): ?>
    <div id="cart" class="<?= $GLOBALS[Netshop_ItemCount] ? 'cart-full' : 'cart-empty' ?>">
        <a href="<?= $nc_minishop->cart_url() ?>" <?=nc_ls_display_link('content', 0, null, null, array('isNaked'=>0)) ?>>
            <i class="icon-large <?= $GLOBALS[Netshop_ItemCount] ? 'icon-cart' : 'icon-cart-empty' ?>"></i>
            <span class="cart-count"><?= $GLOBALS[Netshop_ItemCount] ?></span>
        </a>
    </div>
    <? endif ?>

    <div id='sidebar'>
        
        <div class='shadow'></div>

        <a class='logo' href='/' <?=nc_ls_display_link('content', 0, null, $fn) ?>>
            <img src='<?=$nc_parent_template_folder_path ?>assets/img/logo.png' alt=''>
        </a>


        <!--div class='lang'>
            <a class='active' href='#rus'>RUS</a>
            <a href='#eng'>ENG</a>
        </div-->
        <!-- /.lang -->


        <ul class='nav'>
            <?=nc_browse_sub($template_settings['ProductSub'], $sidebar_menu) ?>
        </ul>
        <!-- /.nav -->


        <div class='footer'>
        <ul class='nav-simple'>
            <?=nc_browse_level(0, $browse_template) ?>
        </ul>
        <!-- /.nav-simple -->



        <div class='contacts'>
            <a href='mailto:<?= $template_settings['Email'] ?>' class='email'><span><?= $template_settings['Email'] ?></span></a>
            <span class='phone'><?= $template_settings['Contacts'] ?></span>
        </div>
        <!-- /.contacts -->



        <div class='social'>
            <?= $template_settings['Social'] ?>
        </div>
        <!-- /.social -->
        </div>
        <!-- /.footer -->
        

    </div>
    <!-- /#sidebar -->



    <div id='main'>