ul.mobile-menu {
    display:    none !important;
    background: #0B135F;
    border-top: 10px solid #040C3A;
}
ul.mobile-menu,
ul.mobile-menu li {
    list-style: none;
    margin:     0;
    padding:    0;
    display:    block;
}
ul.mobile-menu li a {
    padding: 0 30px;
    font-size: 30px;
    line-height: 125px;
    text-decoration: none;
    display: block;
    height: 125px;
    color: #FFF;
    -webkit-transition: all 0.2s, -webkit-transform 0.2s;
    transition: all 0.2s, transform 0.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
ul.mobile-menu li a i {
    float: right;
    font-size: 40px;
}
ul.mobile-menu li a:hover {
  background-color: #040C3A;
}
ul.mobile-menu li a:active {
  color: #fd4c41;
  -webkit-transform: scale3d(0.95, 0.95, 1);
  transform: scale3d(0.95, 0.95, 1);
}
@media only screen and (max-device-width: 760px) {
  ul.mobile-menu {
    display: block !important;
  }
}