.tpl-block-amountchoice
  font-weight: 400
  display: inline-block
  position: relative
  &-value
    background: #EAEFF2
    line-height: 40px
    float: left
    padding: 0 20px
    @media min
      font-weight: 300
      font-size: 32px
      line-height: 41px
      padding: 22px 35px
      theme(background 'white')
      padding-left: 0
  &-buttons
    position: absolute
    left: 100%
  &-button
    height: 20px
    font-size: 1.5em
    line-height: 5px
    cursor: pointer
    vertical-align: top
    transition: color 0.2s, opacity 0.2s
    mlink()
    @media min
      height: 42px
      font-size: 50px !important
    &:hover
      theme(color 'accent-2')
    &.tpl-state-disabled
      pointer-events: none
      opacity: 0.3
      cursor: default
      &:hover
        theme(color 'base')
