.tpl-block-breadcrumbs
  font-weight: 400
  line-height: 20px
  // margin-top: 20px
  @media min
    font-weight: 300
    line-height: 1.2
    background: #EAEFF2
    margin: 0 0px 35px -50px !important
    padding: 45px 50px !important
    border-top: 1px solid darken(#EAEFF2, 10%)
    /*position: absolute !important*/
    /*top: 0*/
    /*right: 0*/
    clear both

    width: 640px !important
    padding: 0 50px
    min-width: 640px !important
    max-width: 640px !important

  &-item
    display: inline-block
    &:after
      content: '/'
      margin: 0 0.15em 0 0.45em
      line-height: 20px
      theme(color 'gray')
    .tpl-block-full &:last-child:after
      display: none
  a
    @media min
      theme(color 'base')
      text-decoration: none
      &:active
        theme(color 'accent-2')
  a.tpl-state-current
    theme(color 'base')
    pointer-events: none
    text-decoration: none
  a.tpl-state-disabled
    color: gray
    pointer-events: none
    text-decoration: none
    font-weight: 400

  &-steps &-item:after
    content: '→'
    theme(color 'gray')
  &-steps &-item:last-of-type:after
    content none
  &-steps a.tpl-state-current
    font-weight: 500
