.tpl-block-gallery
  width: 100%
  // outline: 1px solid red
  // position: relative
  // background: blue
  @media min
    padding-bottom: 40px
  .fotorama__thumb
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-idnex: 3
      border: 1px solid //colorDull
      theme(border-color 'dull')
  .fotorama__thumb-border
    theme(border-color 'dull')
