.tpl-component-goods.tpl-block-full
  float: none
  width: auto !important

  .tpl-block-admin
    margin-top: -30px
    margin-bottom 30px
  // ------------------ ХЛЕБОКРОШКИ, ЗАГОЛОВОК И ПОДЗАГОЛОВОК ------------------
  .tpl-block-breadcrumbs
    margin-bottom: 10px

  h1
    font-size: 36px
    font-weight: 600
    line-height: 1
    margin: 0
    padding 0
    color: #000
    text-transform: none

  .tpl-property-type
    font-size: 14px
    font-weight: 400
    margin-bottom: 0.5em
    position: relative

  // Имитация «табличной» верстки для последующих блоков
  .tpl-block-full-prefix, .tpl-block-full-main
    margin-bottom: 40px
    width: 100%
    clearfix()
    > div
      float: left
      margin-right: -100%
      position: relative
      transition: width 0.2s ease 0s, left 0.2s ease 0s

  // ------------------ «СТРОКА» РЕЙТИНГ-СОЦКНОПКИ-ДОПССЫЛКИ -------------------
  .tpl-block-full-prefix
    .tpl-block-rating
      font-size: 24px
      left: 0
      width: 17%

    .tpl-block-social-buttons
      left: 18%
      padding: 3px 0 0
      text-align: right
      width: 19%
      display: none

  // ------ «СТРОКА» С КАРТИНКОЙ, ФОРМОЙ ДОБАВЛЕНИЯ В КОРЗИНУ И КРАТКИМ ОПИСАНИЕМ ------
  .tpl-block-full-main
    ///////// КОЛОНКА 1 ////////
    .tpl-block-gallery
      left: 0
      width: 37%

    ///////// КОЛОНКА 2 ////////
    .tpl-block-cart-form
      left: 40%
      width: 27%
      border: 5px solid //colorBlue
      theme(border-color 'accent-1')
      padding: 20px 25px 8px
      // position: relative

      .tpl-property-item-price
        font-size: 36px
        font-weight: 600
        line-height: 1.15
        /*margin-bottom 10px*/

      .tpl-property-item-price-range
        margin-bottom: 15px
        .tpl-value { white-space: nowrap }

      .tpl-property-original-price
        theme(color 'gray')
        display: inline-block
        font-size: 18px
        line-height: 20px
        position: relative
        vertical-align: bottom
        margin -10px 0
        price-strike-through(54%)

      .tpl-divider
        border-top: 5px solid //colorBlue
        theme(border-color 'accent-1')
        margin: 10px 0 20px

      .tpl-property-in-stock
        theme(color 'accent-1')
        font-size: 12px
        font-weight: 400
        line-height: 20px
        position: relative
        top: -10px
        margin-bottom: -10px
        text-align: right
        vertical-align: middle
        .tpl-state-absent
          theme(color 'accent-2')
        .tpl-state-available
          fontello-icon('\e807') // icon-check
          &:before
            margin-right 6px
            font-size 12px

      .tpl-property-qty
        .tpl-value
          display inline-block
          position relative

      .tpl-caption
        font-size: 18px
        font-weight: 500
        line-height: 1.2
        margin-bottom: 0.6em

      .tpl-value
        margin-bottom: 17px

      .chosen-drop .tpl-state-absent
        theme(color 'gray')

      button
        padding 0 12px
        margin 20px 6px 20px 0
        i { margin: -3px 10px 0 -3px; }

        @media screen and (min-width: 321px) and (max-width: 1150px)
          padding 0 10px
          i { display: none }

      .tpl-link-cart-add
        theme(background 'accent-2')
        theme(color 'white')
        icon-cart-white(-2px 10px 0 0)

      .tpl-link-cart-add-and-checkout
        background: #EAEFF2
        color: black
        margin-right -20px

      .tpl-link-cart-add.tpl-state-disabled
      .tpl-link-cart-add-and-checkout.tpl-state-disabled
        opacity: 0.4

    ///////// КОЛОНКА 3 ////////
    .tpl-block-details-brief
      left: 70%;
      /*padding-top: 20px;*/
      width: 30%;

      .tpl-property-description
        margin 30px 0

      .tpl-link-more
        display block
        margin-bottom 30px

      .tpl-link-favorite-add
      .tpl-link-favorite
      .tpl-link-compare-add
      .tpl-link-compare
        line-height: 1.1;
        display: inline-block
        white-space nowrap
        text-decoration none
        .tpl-link-pseudo
          border-bottom: 1px dashed;
          display: inline-block;
          overflow: hidden;
          vertical-align: middle;
          color: black
          &:hover
            theme(color 'accent-2')
        /*
        i
          display: inline-block;
          margin-right: 12px;
          vertical-align: middle;*/
        &:before
          margin-right: 8px

      .tpl-link-favorite-add
      .tpl-link-favorite
        padding-right: 22px;
        icon-flag-black()

      .tpl-link-compare-add
      .tpl-link-compare
        icon-down-black()


  // ------------------------ «СТРОКА» С ТАБАМИ --------------------------------
  .tpl-block-properties table:nth-child(odd), .tpl-block-comments-list
      position: relative;
      float: left;
      margin-right: -100%;
      width: 46%;
      left: 0;
  .tpl-block-properties table:nth-child(even), .tpl-block-comments-form
      position: relative;
      float: left;
      margin-right: -100%;
      width: 46%;
      left: 54%;

  .tpl-block-comments h4
    text-transform uppercase
    margin-bottom 20px

  .tpl-block-comments-form
    width 45%
    p
      margin-left: 160px;
      .tpl-caption
        display inline-block
        float: left;
        padding: 7px 0;
        width: 160px;
        margin-left: -160px;
      input, textarea
        darker-input()
      button[type="submit"]
        margin-top: 30px
        theme(background 'accent-1')
        theme(color 'white')
        width: 100%
        &:hover
          theme(background 'accent-2')
    .tpl-block-error-info
      position: absolute
      text-align: center
      padding-left: 160px;

  @media min
    h1
      font-size: 48px;
      font-weight: 400;
      line-height: 1.2;
    .tpl-property-type
      font-size: 28px;
      font-weight: 300;

    .tpl-block-rating
    .tpl-block-gallery
    .tpl-block-cart-form
      float: none !important
      left: 0 !important
      width: auto !important

    .tpl-block-gallery
      max-width: 100% !important

    .tpl-block-cart-form
      border none !important
      max-width: 100% !important

    button
      padding: 15px 35px !important
      width 100%

    .tpl-block-social-buttons
    .tpl-block-details-brief
      display none

.tpl-option-share-block .tpl-component-goods.tpl-block-full .tpl-block-full-prefix .tpl-block-social-buttons
  display: block

.tpl-block-comments
  display: none

.tpl-option-reviews .tpl-block-comments
  display: block