.tpl-component-goods.tpl-block-list .tpl-block-list-objects
  clearfix()
  position: relative

  img
    max-width: 100%
    max-height: 100%

  @media min
    width: auto
    margin: 0

  .tpl-block-list-object
    margin-bottom: 20px

