.tpl-block-message
  &.tpl-state-error, &.tpl-state-info
    padding: 15px 20px;
    line-height: 20px;
    font-size: 1.2em;
    margin: 0 auto 20px;

  &.tpl-state-error
    theme(background 'accent-2');
    theme(color 'white');

  &.tpl-state-info
    theme(background 'dull')
    theme(color 'base')
    font-style italic

