.tpl-block-mobileuser
  padding: 55px 50px 0
  font-size: 27px
  .tpl-block-itext
    theme(background 'white')
    @media min
      border: none
      &:focus
        box-shadow: 0 0 5px rgba(colorBase, 0.3)
  .tpl-block-ibtn
    width: 100%;
    margin-top: 55px;
    height: 85px;
    theme(background 'accent-2')
  &-row
    margin-bottom: 55px
    position: relative