.tpl-block-mobilemenu
  font-weight: 100
  user-select: none
  &-category
    position: relative
    &:after
      font-family: fontello
      content: '\e803'
      position: absolute
      right: 55px
      top: 25px
      font-size: 30px
      pointer-events: none
    &.tpl-state-active:after
      content: '\e80c'
  &-title
    font-size: 40px
    padding: 30px 70px
    line-height: 1.2
    cursor: pointer
    mlink()
  &-drop
    theme(background 'accent-1-darker')
    padding: 20px 0
    display: none
    user-select: none
  &-item
    padding: 20px 70px
    font-size: 30px
    line-height: 1.2
    a
      text-decoration: none
      display: block
      mlink()