.tpl-block-mobilenav
  theme(background 'accent-2')
  theme(color 'white')
  height: 145px
  position: relative
  font-weight: 300
  display: none
  @media min
    display: block
  &-item
    display: block
    position: absolute
    top: 40px
    &--logo
      left: 50px
    &--menu
      right: 50px
    &--search
      right: 153px
    &--user
      left: 250px
    &--cart
      left: 341px
    a
      display: inline-block
      vertical-align: middle
      margin: 0 -10px
      padding: 0 10px
      height: 60px
      position: relative
      mlink()
  &-counter
    font-size: 16px
    font-weight: 500
    line-height: 16px
    theme(color 'white')
    text-decoration: none
    position: absolute
    left: 60px
    bottom: 8px
    transition: all 0.2s

