.tpl-block-pagination
  font-weight: 400
  float: right
  text-align: right
  padding-top: 6px

  @media min
    margin: 55px 0 10px
    float none
    width 100%
    text-align center


  .tpl-link-page
  .tpl-link-prev
  .tpl-link-next
    display: inline-block
    vertical-align: top
    margin: 0 14px
    float: none

    text-decoration: none
    theme(color 'base')
    padding: 0 2px
    &:hover
      theme(color 'accent-2')
      @media min
        theme(color 'base')

    @media min
      mlink()
      font-size: 48px
      font-weight: 100
      &:nth-child(1n+8)
        display: none
      &:last-child
        display: inline-block

    &.tpl-state-current
      border-bottom: 5px solid //colorBlue
      theme(border-color 'accent-1')
      @media min
        border: none
        font-weight: 600


  .tpl-link-page
    line-height: 1.4
    padding-top: 6px
    float: left
    @media min
      float none

  .tpl-link-prev
  .tpl-link-next
    margin: 0 0 0 6px
    theme(color 'dull')

    &:hover
      theme(color 'accent-1')
      theme(border-color 'accent-1')

    /* ICONS */
    @media min
      height: auto
      width: auto
      border: none
      font-size: 0
      theme(color 'base')
      position: relative

    &.tpl-state-disabled
      cursor: default
      color: darken(bgColor, 5%) // was #F2F2F2
      border-color: darken(bgColor, 5%)
      opacity: 1

  .tpl-link-prev
    @media notMin
      margin-left: 15px !important
    @media min
      float left
  .tpl-link-next
    @media min
      float right
