.tpl-block-popup
  position: relative
  theme(background 'white')
  padding: 40px 60px 50px
  max-width: 970px
  margin: 0 auto
  border: 5px solid //colorBlue
  theme(border-color 'accent-1')
  width: 400px
  text-align: center

.tpl-block-popup-title
  font-size: 30px
  font-weight: 600
  text-align: center
  margin: 15px 45px 45px
  line-height: 1.2


#cart-item-remove-confirm
  margin-top: 30px