.tpl-block-rating
  font-size: 2em
  theme(color 'accent-2')
  overflow: hidden
  line-height: 35px
  cursor: default
  display: none
  a
    theme(color 'accent-2')
    cursor: pointer
  &-item
    display: block
    float: left
    i:before
      margin-left: 0

.tpl-option-item-rating .tpl-block-rating
  display: block