.rouble
  // font-family: 'alsrubl-Arial'
  // font-weight: 100
  &:after
    content: '–' //- - – — дефис, короткое тире, минус, длинне тире
    margin-left: -0.74em
    margin-top: 0.2em
    display: inline-block
    position: absolute