.nc_search_extra_form
  margin-bottom: 80px

.nc_search_extra_form INPUT[type=text], .nc_search_form INPUT[type=text]
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3)
  box-shadow: 0 0 5px rgba(0,0,0,0.3)

