@font-face {
    font-family: 'CalibriLight';
    src: url('../fonts/calibril.woff') format('woff');
}
@font-face {
    font-family: 'CalibriItalic';
    src: url('../fonts/calibrii.woff') format('woff');
}
@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/calibri.woff') format('woff');
}
@font-face {
    font-family: 'CalibriBold';
    src: url('../fonts/CalibriBold.woff') format('woff');
}
@font-face {
    font-family: 'CambriaItalic';
    src: url('../fonts/CambriaItalic.woff') format('woff');
}
@font-face {
    font-family: 'CambriaBoldItalic';
    src: url('../fonts/CambriaBoldItalic.woff') format('woff');
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
figure {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    color: #fff;
    font: 22px/26px 'CambriaItalic', Times, serif;
    background: #fff;
    min-width: 950px;
    padding: 0;
}
img { border-style: none; }
a {
    text-decoration: underline;
    color: #dc093b;
}
a:hover { text-decoration: none; }
input,
textarea,
select {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    outline: none;
    resize: none;
}
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.holder {
    width: 100%;
    overflow: hidden;
}
.wrapper:after {
    clear: both;
    display: block;
    content: "";
}
.page {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.header {
    background: url(../images/bg-header.gif) 0 100% repeat-x;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 51px;
    z-index: 2;
}
.header.relative { position: relative; margin-bottom: -51px; }
.header.admin { top: 55px; }
.header.relative.admin { position: relative; margin-bottom: -51px; top: 0; }
.header.active {
    height: auto;
    overflow: hidden;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
}
.header.active .wrapper {
    overflow: hidden;
    margin-bottom: -11px;
}
.logo {
    width: 208px;
    height: 62px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
    float: left;
}
.logo a {
    display: block;
    height: 100%;
}
.search-form {
    float: right;
    width: 149px;
    background: #fff;
    padding: 1px;
    margin: 14px 0 0;
}
.search-form input[type=text] {
    float: left;
    margin: 0;
    padding: 2px 6px 0;
    border: 0;
    background: none;
    width: 115px;
    font: 16px 'CalibriItalic', Times, serif;
    color: #959a9e;
}
.search-form input[type=submit],
.write-us input[type=submit] {
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    overflow: visible;
    padding: 0;
    margin: 0;
    float: right;
    background: url(../images/bg-submit.gif) no-repeat;
    cursor: pointer;
    border: 0;
}
.header nav {
    overflow: hidden;
    text-align: center;
    padding: 12px 0 0;
    font: 20px/23px 'CalibriLight', Arial, sans-serif;
}
.header nav li {
    display: inline;
    padding: 0 15px;
}
.header nav a {
    color: #fff;
    text-decoration: none;
}
.header nav .active a {
    color: #e9a502;
    font-family: 'CambriaBoldItalic', Times, serif;
}
.slide-full-w {
    margin: 50px auto 0;
    width: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
}
.slide-full {
    margin: 0 auto;
    width: 1100px;
    height: 530px;
    background: url(../images/bg-slide-text.png);
    overflow: auto;
    position: relative;
}
.slide-full .slide-close {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 24px;
    line-height: 24px;
    padding-right: 30px;
    background: url(../images/ico-close.png) no-repeat 100% 50%;
    color: #FFF;
    text-decoration: none;
    font-size: 19px;
}
.slide-full h1 {
    padding: 0 0 10px;
}
.slide-full .slide-close:hover {
    opacity: .8;
}
.slide-full .slide-body {
    padding: 0 50px;
    font: 16px/19px 'CalibriLight', Arial, sans-serif;
}
.gallery {
    margin: 0 0 10px -100px;
    width: 1100px;
    height: 530px;
    position: relative;
}
.gallery img { display: block; }
.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #EEE;
    /*background: #EEE url('../images/img01.jpg') no-repeat 50% 50%;*/
}
.slide.active {
    display: block;
}
.slide p {
    margin: 0;
}
.slide .author {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 12px;
    font-family: Arial;
}
.slide .author, .slide .author * {
    color: #333;
    opacity: .8;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .4);
}
.slide-text {
    width: 480px;
    height: 440px;
    position: absolute;
    left: 100px;
    top: 50px;
    font: 16px/19px 'CalibriLight', Arial, sans-serif;
    background: url(../images/bg-slide-text.png);
}
.slide-holder {
    padding: 30px 0 0 46px;
}
.slide-holder p {
    font: 14px 'CalibriLight', Arial, sans-serif;
    text-transform: uppercase;
}
.slide-holder p b {
    font-family: 'Calibri';
    font-weight: bold;
    text-transform: none;
    font-size: 16px;
}
.slide-holder p:first-letter {
    font-size: 16px;
}
.slide-holder .holder { margin-top: 25px; }
.slide-text h1 {
    line-height: 48px;
    font: 44px/48px 'CambriaBoldItalic', Times, serif;
    margin: 0 0 25px;
}
.slide-text h1 em {
    font-style: normal;
    display: block;
    color: #dc093b;
    font-size: 60px;
    text-shadow: 0 0 30px rgba(255, 255, 255, .3);
}
.slide-text span.date {
    display: block;
    margin: 0 0 25px;
    font-size: 24px;
    line-height: 24px;
}
.slide-text dl {
    margin: 0 0 25px;
    width: 100%;
    overflow: hidden;
}
.slide-text dl dt {
    float: left;
    margin: 0 5px 0 0;
    font-weight: bold;
}
.slide-text dl dd {
    margin: 0;
}
.slide-text a.btn {
    float: right;
    font-size: 36px;
    padding: 0 20px;
    font: 36px/50px 'CalibriBold', Arial, sans-serif;
    background: url(../images/bg-slide-btn.gif) repeat-x;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 0px #eeb01b;
}
.slide-text a.more {
    color: #e9a502;
    font-size: 16px;
    float: left;
    margin: 25px 0 0;
}
.gallery .switcher {
    position: absolute;
    right: 110px;
    bottom: 15px;
    width: 400px;
}
.gallery .switcher ul {
    float: right;
}
.gallery .switcher ul li {
    float: left;
    margin: 0 0 0 8px;
}
.gallery .switcher ul a {
    width: 13px;
    height: 13px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background: #fff;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}
.gallery .switcher ul .active a,
.gallery .switcher ul a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.gallery .btn-prev,
.gallery .btn-next {
    width: 46px;
    height: 47px;
    position: absolute;
    top: 244px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/arrows.png) no-repeat 0 -47px;
}
.gallery .btn-prev { left: 20px; }
.gallery .btn-prev:hover,
.gallery .btn-prev.active { background-position: 0 0; }
.gallery .btn-next {
    right: 20px;
    background-position: -46px -47px;
}
.gallery .btn-next.active,
.gallery .btn-next:hover { background-position: -46px 0; }
.l-side {
    float: left;
    width: 450px;
    margin: 0 38px 0 0;
}
.l-side ul {
    width: 100%;
    overflow: hidden;
    margin: 0 0 20px;
}
.l-side ul li {
    float: left;
    border: 1px solid #f2f2f2;
    background: #323639;
    color: #fff;
    margin: 0 8px 0 0;
    letter-spacing: -1px;
    width: 140px;
    font: 14px/16px 'CalibriRegular', Arial, sans-serif;
}
.l-side ul li a {
    color: #fff;
    font: 14px/16px 'CalibriRegular', Arial, sans-serif;
    text-decoration: none;
}
.l-side ul li:hover a {
    text-decoration: underline;
}
.l-side ul span {
    display: block;
    padding: 5px 10px;
    font-weight: bold;
}
.l-side ul span * {
    font-style: normal;
    font-weight: bold;
}
.l-side .contact {
    color: #323639;
    font: 24px/22px 'CalibriLight', Arial, sans-serif;
}
.l-side .contact p {
    margin: 0;
    padding: 0;
}
.l-side .contact>span {
    display: block;
    margin: 0;
}
.l-side .contact>span>span {
    display: block;
    font-size: 30px;
    margin: 5px 0;
}
.l-side .contact>a {
    font-size: 18px;
    color: #e9a502;
}
.l-side .contact .copy {
    display: block;
    margin: 20px 0 15px;
    font-size: 12px;
    line-height: 11px;
    color: #5d5d5d;
}
.l-side .contact .copy a {
    color: #5d5d5d;
}
.center {
    float: left;
    color: #323639;
    margin: 15px 30px 0 0;
    width: 235px;
}
.center p {
    margin: 0 0 15px;
    font: normal 20px/20px 'CambriaItalic', Times, sans-serif;
}
.center h2 {
    font: bold 22px/25px 'CalibriRegular', Arial, sans-serif;
    margin: 0;
}
.center ul {
    font: 18px/24px 'CalibriLight', Arial, sans-serif;
    margin-bottom: 15px;
}
.center li em {
    font-style: normal;
}
a.calendar {
    margin: 0 0 0 -24px;
    position: relative;
    padding: 0 0 0 24px;
    background: url(../images/arrow02.png) 0 50% no-repeat;
    font: 18px/24px 'CalibriLight', Arial, sans-serif;
    color: #e9a502;
}
.r-side {
    float: left;
    width: 115px;
    margin: 15px 0 0;
}
.r-side h2 {
    font: bold 24px/16px 'CalibriLight', Arial, sans-serif;
    color: #323639;
    margin-bottom: 10px;
}
.r-side ul {
    font: 20px/26px 'CalibriLight', Arial, sans-serif;
    text-transform: uppercase;
}
.r-side ul a { color: #e9a502; text-decoration: none; }
.company {
    background: #e9a502 url(../images/bg-company.jpg) 50% 0 no-repeat;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
}
.copy {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -450px;
    font: 12px Arial;
    color: #FFF;
    opacity: .8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.copy a {
    color: #FFF;
}
.content {
    float: left;
    width: 560px;
    margin-top: 40px;
}
.content h1,
.sidebar h1 {
    font: 48px/50px 'CambriaBoldItalic', Times, sans-serif;
    margin-bottom: 20px;
}
.content p { margin: 0; }
.sidebar {
    float: right;
    width: 280px;
    margin-top: 90px;
    font: 16px/18px 'CalibriLight', Arial, sans-serif;
}
.sidebar h2 {
    font-size: 30px;
    padding: 0 0 15px;
}
.sidebar p { margin: 0 0 15px; }
.sidebar ul {
    font-size: 24px;
    padding-top: 15px;
}
.sidebar ul li {
    padding: 10px 5px 10px 32px;
    margin-bottom: 5px;
    background: url(../images/arrow03.png) 5px 12px no-repeat;
}
.sidebar ul li.active {
    background: #556577 url(../images/arrow04.png) 98% 12px no-repeat;
    font-weight: bold;
    padding: 10px 32px 10px 5px;
}
.sidebar ul li.active a {
    color: #fff;
    text-decoration: none;
}
h3.faces {
    width: 900px;
    margin: 30px auto 0;
    font: 30px/32px 'CalibriLight', Arial, sans-serif;
}
.collective {
    text-align: center;
    width: 1210px;
    margin: 0 0 0 -605px;
    position: relative;
    left: 50%;
}
.collective li {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    color: #959a9e;
    text-align: left;
    width: 218px;
    padding: 10px;
    vertical-align: top;
    font: 16px/16px 'CalibriLight', Arial, sans-serif;
}
.collective li strong { color: #000; font: 16px/16px 'CalibriBold', Arial, sans-serif; display: block; }
.collective li span { color: #000; }
.collective li .description { display: none; }
.collective li.active .description {
    display: block;
}
.collective li img {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
}
.collective li.active {
    cursor: auto;
    background: #fff;
}
.collective li>strong {
    display: block;
    margin: 0;
    color: #323639;
}
.collective li>span { color: #323639; }
.collective li p { margin: 10px 0 0; }
section.main-section { position: relative; padding-top: 51px; padding-bottom: 30px; }
section a.btn-prev,
section a.btn-next {
    width: 46px;
    height: 47px;
    position: absolute;
    bottom: 29px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/arrows.png) no-repeat 0 -47px;
}
section .btn-prev { left: 20px; }
section .btn-prev:hover,
section .btn-prev.active { background-position: 0 0; }
.company .btn-next,
.portfolio .btn-next,
.services .btn-next {
    right: 20px;
    background-position: -46px -47px;
}
section .btn-next:hover,
section .btn-next.active { background-position: -46px 0; }
.services {
    overflow: hidden;
    min-height: 900px;
    position: relative;
    background: #000 url(../images/bg-services.jpg) 50% 0 no-repeat;
}
.services .back { position: absolute; top: 20px; }
.portfolio {
    overflow: hidden;
    background: #000 url(../images/bg-portfolio.jpg) 50% 0 no-repeat;
    min-height: 890px;
    position: relative;
}
.portfolio .content {
    margin: 0;
}
.portfolio h1 {
    margin-top: -10px;
}
.portfolio h2 {
    font: 30px/30px 'CalibriLight', Arial, sans-serif;
    margin: -10px 0 30px;
}
.portfolio h2 a { color: #fff; }
.portfolio h2 span { color: #323639; }
.img-block {
    padding: 10px;
    overflow: hidden;
    background: #fff;
    font-size: 18px;
    width: 881px;
    position: relative;
    color: #33373a;
}
.portfolio .content { width: 900px; }
.img-block img {
    display: block;
    margin: 0;
}
.img-block .left { float: left; }
.img-block .right { float: right; }
.contact-holder {
    background: #33373a url(../images/bg-contact-holder.gif) 0 401px repeat-x;
    display: none;
    position: relative;
    z-index: 2;
}
/*.header.active .contact-holder {display:block;}*/
.contact-holder img {
    display: block;
    margin: 0 auto;
}
.contact-holder .section-info {
    color: #fff !important;
    width: 900px;
    margin: 30px auto 0;
    min-height: 180px;
    height: 180px;
}
.contact-holder .section-info .contact { color: #fff; }
.contact-holder .section-info .phone { font: 24px/20px "CalibriLight"; }
.contact-holder .section-info .email A { font: 18px/20px "CalibriLight"; color: #e9a502; text-decoration: underline; }
.contact-holder .section-info .email A:hover { text-decoration: none; }
.contact-holder .section-info .phone span { font-size: 30px; }
.contact-holder .section-info .social {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
}
.contact-holder .section-info .social li {
    padding: 0;
    border: 0;
    background: none;
    width: auto;
    margin: 0 0 0 5px;
}
.contact-holder .section-info .social li:first-child { margin: 0; }
.contact-holder .section-info .social a {
    text-indent: -9999px;
    overflow: hidden;
    width: 34px;
    height: 34px;
    display: block;
    background: url(../images/bg-social.png) no-repeat;
}
.contact-holder .section-info .social a.twitter { background-position: 0 0; }
.contact-holder .section-info .social a.fb { background-position: -40px 0; }
.contact-holder .section-info .social a.vk { background-position: -80px 0; }
.contact-holder .section-info .social a.youtube { background-position: -120px 0; }
.contact-holder .section-info .social a.google { background-position: -160px 0; }
.contact-holder .section-info .social a.insta { background-position: -200px 0; }
.contact-holder .address {
    float: left;
    width: 230px;
    margin: 0 0 0 -150px;
    font: 16px/18px 'CalibriLight', Arial, sans-serif;
    padding-top: 5px;
}
.contact-holder .address a {
    color: #e9a502;
}
.contact-holder .address p { padding: 0; margin: 0; }
.write-us {
    width: 900px;
    margin: 0 auto;
    position: relative;;
}
.write-us form { position: absolute; right: 0; bottom: -12px; width: 301px; }
.write-us h2 {
    margin: 0 0 10px;
    font: 16px/18px 'CalibriLight', Arial, sans-serif;
}
.write-us .row {
    width: 100%;
    overflow: hidden;
    padding-bottom: 11px;
    position: relative;
}
.write-us input[type=text],
.write-us textarea {
    float: left;
    margin: 0;
    background: #fff;
    width: 285px;
    padding: 5px 8px;
    color: #959a9e;
    border: 0;
    box-sizing: content-box;
    font: italic 14px/16px 'CalibriLight', Arial, sans-serif;
}
.write-us textarea {
    height: 100px !important;
}
.write-us input[type=submit] {
    position: absolute;
    right: 1px;
    bottom: 12px;
}
.services-v2 .sidebar { float: left; margin: 40px 0 0 0; }
.services-v2 .content {
    float: right;
    margin-top: 70px;
    color: #323639;
    font: 18px/22px 'Times New Roman', Times, serif;
}
.places {
    width: 800px;
    position: relative;
    overflow: hidden;
    font: 18px/28px 'CalibriLight', Arial, sans-serif;
}
.places .col {
    float: left;
    width: 250px;
}
.places strong {
    color: #323639;
    font-size: 30px;
    line-height: 33px;
    display: block;
    font-weight: normal;
}
.inner-page {
    color: #333;
}

DIV[data-nc-ls-display-pointer] { position: relative; top: -50px; }
DIV[data-nc-ls-display-pointer].main-pointer { top: 0; }