.tpl-widget-netshop-bought-together
  margin-top 40px

  h2
    margin-top 10px
    theme(color 'accent-1')
    font-size: 25px
    font-weight: 600

  .tpl-block-list-objects
    @extend .s-tiles-small;

  @media min
    display none