/* whyMiniGroups
-----------------------------------------------------------------------------*/

.whyMiniGroups {
  height: 590px;
  background: url('../img/bg-whyMiniGroups-desctop.jpg') repeat left top;
  text-align: center;
  font-family: 'PTSansRegular';
  line-height: 19px;
  font-size: 19px;
}

.whyMiniGroups .wrapper {
  padding: 40px 0;
}

.whyMiniGroups .h1 {
  margin: 0 0 24px 0;
}

table.why-mini-groups {
  height: 444px;
  background: url('../img/whyMiniGroupsMapNew.png') no-repeat center;
}

table.why-mini-groups tr td > div {
  color: #585858;
  max-width: 160px;
}

table.why-mini-groups h4 {
  font-size: 19px;
  color: #336666;
  text-transform: uppercase;
  padding-bottom: 3px;
  font-weight: bolder;
  letter-spacing: 1px;
}

table.why-mini-groups .why-mini-groups-5 h4 {
  color: #cc0000;
}

.why-mini-groups-1 {
  width: 300px;
  height: 85px;
}

.why-mini-groups-2 {
  width: 280px;
}

.why-mini-groups-3 {
  width: 300px;
}

.why-mini-groups-1, .why-mini-groups-3, .why-mini-groups-5, .why-mini-groups-7, .why-mini-groups-9 {
  height: 105px;
  text-align: left;
  font-size: 18px;
}

.why-mini-groups-2, .why-mini-groups-4, .why-mini-groups-6, .why-mini-groups-8 {
  vertical-align: middle;
  font-size: 18px;
  color: #595858;
}

.why-mini-groups-2 p, .why-mini-groups-4 p, .why-mini-groups-6 p, .why-mini-groups-8 p {
  font-size: 18px;
  max-width: 180px;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.9);
}

.why-mini-groups-1 div {
  position: relative;
  left: 112px;
  top: 12px;
}

.why-mini-groups-3 div {
  position: relative;
  left: 112px;
  top: 12px;
}

.why-mini-groups-5 div {
  position: relative;
  left: 100px;
  top: 35px;
}

.why-mini-groups-7 div {
  position: relative;
  left: 112px;
  top: 55px;
}

.why-mini-groups-9 div {
  position: relative;
  left: 112px;
  top: 55px;
}

@media (max-width: 1025px) {
  .whyMiniGroups {
    position: relative;
    width: 100%;
    height: 638px;
    padding: 0 15px;
    background: url('../img/bg-whyMiniGroups-480.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: normal;
    font-size: 14px;
    box-shadow: 0 5px 14px 0 rgba(1, 1, 1, 0.3);
  }

  .whyMiniGroups .wrapper {
    width: 450xp;
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
    padding-top: 75px;
    background-image: url('../img/whyMiniGroups-480.png');
    background-repeat: no-repeat;
    background-position: center 65%;
    background-size: contain;
  }

  .whyMiniGroups .h1 {
    margin: 0 0 24px 0;
  }

  table.why-mini-groups {
    position: relative;
    height: auto;
    background: none;
  }

  table.why-mini-groups tr td > div {
    max-width: 115px;
  }

  table.why-mini-groups h4 {
    font-size: 15px;
    padding-bottom: 3px;
    letter-spacing: normal;
  }

  .why-mini-groups-1 {
    width: auto;
    height: auto;
  }

  .why-mini-groups-2 {
    width: auto;
  }

  .why-mini-groups-3 {
    width: auto;
  }

  .why-mini-groups-1, .why-mini-groups-3, .why-mini-groups-5, .why-mini-groups-7, .why-mini-groups-9 {
    position: absolute;
    height: auto;
    text-align: center;
    font-size: 14px;
  }

  .why-mini-groups-2, .why-mini-groups-4, .why-mini-groups-6, .why-mini-groups-8 {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }

  .why-mini-groups-2 p, .why-mini-groups-4 p, .why-mini-groups-6 p, .why-mini-groups-8 p {
    font-size: 14px;
    max-width: 180px;
    text-align: center;
    margin: 0 auto;
  }

  .why-mini-groups div {
    position: static;
    left: auto;
    top: auto;
  }

  .why-mini-groups-1 {
    top: 83px;
    left: 14px;
  }

  .why-mini-groups-2 {
    top: 80px;
    left: 140px;
    width: 160px;
  }

  .why-mini-groups-3 {
    top: 82px;
    left: 340px;
    width: 100px;
  }

  .why-mini-groups-4 {
    top: 200px;
    left: 40px;
    width: 100px;
  }

  .why-mini-groups-5 {
    top: 210px;
    left: 165px;
    width: 100px;
  }

  .why-mini-groups-5 div {
    position: relative;
    top: auto;
    left: auto;
  }

  .why-mini-groups-5 p {
    position: absolute;
    left: 18px;
    width: 80px;
    margin: 0;
  }

  .why-mini-groups-6 {
    top: 190px;
    left: 310px;
    width: 120px;
  }

  .why-mini-groups-7 {
    top: 350px;
    left: 13px;
    width: 100px;
  }

  .why-mini-groups-8 {
    top: 330px;
    left: 150px;
    width: 150px;
  }

  .why-mini-groups-9 {
    top: 350px;
    left: 340px;
    width: 100px;
  }
}

@media (max-width: 479px) {
  .whyMiniGroups {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 479px;
    height: 730px;
    background: url('../img/bg-whyMiniGroups-320.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    font-size: 14px;
    padding: 0;
  }

  .whyMiniGroups .wrapper {
    width: 320px;
    max-width: 320px;
    height: 100%;
    padding-top: 45px;
    background-image: url('../img/whyMiniGroups-320.png');

  }

  .whyMiniGroups .h1 {
    margin: 0 0 45px 0;
    font-size: 20px;
  }

  table.why-mini-groups h4 {
    font-size: 12px;
  }

  .why-mini-groups-1, .why-mini-groups-3, .why-mini-groups-5, .why-mini-groups-7, .why-mini-groups-9 {
    font-size: 12px;
  }

  .why-mini-groups-2, .why-mini-groups-4, .why-mini-groups-6, .why-mini-groups-8 {
    font-size: 12px;
  }

  .why-mini-groups-2 p, .why-mini-groups-4 p, .why-mini-groups-6 p, .why-mini-groups-8 p {
    font-size: 12px;
  }

  .why-mini-groups-1 {
    top: 55px;
    left: 27px;
  }

  .why-mini-groups-2 {
    top: 140px;
    left: 100px;
    width: 130px;
  }

  .why-mini-groups-3 {
    top: 55px;
    left: 215px;
    width: 80px;
  }

  .why-mini-groups-4 {
    top: 250px;
    left: 15px;
    width: 80px;
  }

  .why-mini-groups-5 {
    top: 260px;
    left: 108px;
    width: 100px;
  }

  .why-mini-groups-5 div {
    position: relative;
    top: auto;
    left: auto;
  }

  .why-mini-groups-5 p {
    position: absolute;
    left: 10px;
    width: 80px;
    margin: 0;
  }

  .why-mini-groups-6 {
    top: 230px;
    left: 225px;
    width: 80px;
  }

  .why-mini-groups-7 {
    top: 480px;
    left: 15px;
    width: 100px;
  }

  .why-mini-groups-8 {
    top: 360px;
    left: 100px;
    width: 130px;
  }

  .why-mini-groups-9 {
    top: 480px;
    left: 205px;
    width: 100px;
  }
}