/* Teachers
-----------------------------------------------------------------------------*/

.inner .wrapper > .wrapper.teachers {
  padding-bottom: 20px;
}

.teachers > .h1 {
  margin: 0 0 17px 0;
}

.teachers__description {
  font-family: 'PTSansItalic';
  font-size: 24px;
  line-height: 30px;
}

.teachersRank {
  font-size: 0;
  color: #964b4d;
  margin: 42px 0 0 0;
}

.teachersRank li {
  padding: 0 0 0 78px;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 23px 0;
  position: relative;
}

.teachersRank li:before {
  content: '';
  display: inline-block;
  width: 44px;
  position: absolute;
  left: -1px;
  top: -10px;
}

.teachersRank li:nth-child(1):before {
  height: 38px;
  background: url('../img/teachersTick.png') center top no-repeat;
}

.teachersRank li:nth-child(2):before {
  height: 38px;
  background: url('../img/teachersTick.png') center -46px no-repeat;
}

.teachersRank li:nth-child(3):before {
  height: 31px;
  top: -3px;
  background: url('../img/teachersTick.png') center -99px no-repeat;
}

.teachersRank li:nth-child(4):before {
  height: 41px;
  top: -12px;
  background: url('../img/teachersTick.png') center -137px no-repeat;
}

.teachersRank li:nth-child(5):before {
  height: 39px;
  background: url('../img/teachersTick.png') center -185px no-repeat;
}

@media (max-width: 769px) {
  .inner .wrapper > .wrapper.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 480px;
    max-width: 480px;
    padding: 70px 15px 20px 15px;
    margin: 0 auto;
  }

  .teachers > .h1 {
    margin: 0 0 17px 0;
    font-size: 20px;
    text-align: center;
  }

  .teachers__description {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #333333;
  }

  .teachers__description--1 {
    width: 390px;
    margin-bottom: 15px;
  }

  .teachers__description--2 {
    width: 290px;
  }

  .teachersRank {
    margin: 25px 0 0 0;
  }

  .teachersRank ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 450px;
    height: 455px;
    margin: 0;
    padding: 0;
  }

  .teachersRank li {
    max-width: 190px;
    padding: 0;
    padding-top: 45px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 23px 0;
    position: relative;
    & .br__320px {
      display: block;
    }
  }

  .teachersRank li:before {
    content: '';
    display: inline-block;
    width: 44px;
    position: absolute;
    left: 70px;
    top: 10px;
  }

  .teachersRank li:nth-child(1):before {
    top: 5px;
  }

  .teachersRank li:nth-child(2):before {
    top: 5px;
  }

  .teachersRank li:nth-child(3):before {
    top: 5px;
  }

  .teachersRank li:nth-child(4):before {
    top: 0;
  }

  .teachersRank li:nth-child(5):before {
    top: 0;
  }
}


@media (max-width: 479px) {
  .inner .wrapper > .wrapper.teachers {
    height: auto;
    width: 320px;
    max-width: 320px;
  }

  .teachers > .h1 {
    width: 290px;
    margin: 0 0 17px 0;
    font-size: 18px;
    text-align: center;
  }

  .teachers__description {
    font-size: 16px;
    line-height: 22px;
  }

  .teachers__description--1 {
    width: 290px;
  }

  .teachers__description--2 {
    width: 290px;
  }

  .teachersRank ul {
    width: 320px;
    height: 415px;
    padding: 0 15px;
  }

  .teachersRank li {
    max-width: 50%;
    font-size: 13px;
    line-height: 16px;
  }

  .teachersRank li:nth-child(1):before {
    left: 50px;
  }

  .teachersRank li:nth-child(2):before {
    left: 50px;
  }

  .teachersRank li:nth-child(3):before {
    left: 50px;
  }

  .teachersRank li:nth-child(4):before {
    left: 50px;
  }

  .teachersRank li:nth-child(5):before {
    left: 50px;
  }
}

/*-----------------MATER (синие облако с сылками)---------------*/

.matterWrapper {
  width: 980px;
  margin: 0 auto;
  padding: 0 0 75px 0;
}

.teachers .matter {
  background: #dce6f0;
  border-radius: 8px;
  padding: 25px 78px 25px 80px;
  font-size: 20px;
}

.teachers .h2 {
  font-family: 'PTSansBold';
  font-size: 18px;
  color: #1c1716;
  text-transform: uppercase;
  margin: 0 0 11px 0;
  padding: 0 0 0 25px;
}

.teachers .matter > div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 29px 0;
}

.teachers .matter > div:last-child {
  margin: 0 0 0 0;
}

.teachers .matter a {
  color: #666666;
  text-decoration: none;
  border-bottom: 1px solid #666666;
}

@media (max-width: 769px) {
  .matterWrapper {
    width: 450px;
    margin: 0 auto;
    padding: 0;
  }

  .teachers .matter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 450px;
    height: 400px;
    margin-bottom: 22px;
    padding: 0;
    font-size: 16px;
  }

  .teachers .h2 {
    font-size: 18px;
    color: #1c1716;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
  }

  .teachers .matter > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .teachers .matter > div:last-child {
    margin: 0;
  }

  .teachers .matter a {
  }
}

@media (max-width: 479px) {
  .matterWrapper {
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  .teachers .matter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 290px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 22px;
    padding: 0;
    font-size: 16px;
  }

  .teachers .h2 {
    font-size: 18px;
    color: #1c1716;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
  }

  .teachers .matter > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .teachers .matter > div:last-child {
    margin: 0;
  }

  .teachers .matter a {
    font-size: 15px;
  }
}

/*-------------teacherItem (карточка препода - верняя часть карточки)-----------------------*/

.teacherItem {
  width: 100%;
  background: #FFF;
  border-width: 3px;
  border-color: #b7b7b7;
  border-style: solid;
  border-radius: 8px;
  margin: 37px 0 0 0;
  padding: 0px 20px 20px 17px;
  position: relative;
}

.teachers .h3 {
  font-size: 24px;
  margin: 0 0 11px 0;
}

.teacherItem .teacherItemInfo {
  display: inline-block;
  vertical-align: top;
  margin: 22px 0 0 0;
  padding: 0 22px 0 0px;
  border-right: 1px solid #cccccc;
}

.teacherItemInfoPic {
  width: 270px;
  overflow: hidden;
  margin: 0 auto 10px auto;
  text-align: center;
}

.teacherItemInfoPic img {
  border: 3px solid #b7b7b7;
  border-radius: 223px;
  margin: 0 auto;
}

.teacherItemInfoMatter {
  max-width: 270px;
}

.teacherItemInfoDetail {
  width: 282px;
  margin: 0 auto;
  padding: 3px 0 0 2px;
}

.teacherItemInfoDetail > ul {
  width: 100%;
  padding: 0 0 7px 24px;
  border-bottom: 1px solid #959595;
  color: #5b7793;
  font-family: 'PTSansBoldItalic';
}

.teacherItemInfoDetail > ul > li {
  margin: 0 0 6px 0;
  padding: 0 0 5px 36px;
  line-height: 20px;
  position: relative;
}

.teacherItemInfoDetail > ul > li:before {
  position: absolute;
  left: 0px;
  content: '';
  display: inline-block;
  width: 27px;
}

.matter13:before {
  top: 2px;
  height: 17px;
  background: url('../img/teacherItemTick.png') 0px -26px no-repeat;
}

.matter2:before {
  top: 2px;
  height: 17px;
  background: url('../img/teacherItemTick.png') 0px -42px no-repeat;
}

.matter3:before {
  top: -5px;
  height: 26px;
  background: url('../img/teacherItemTick.png') 0px 0px no-repeat;
}

.matter4:before {
  top: -2px;
  height: 21px;
  background: url('../img/teacherItemTick.png') 0 -58px no-repeat;
}

.matter5:before {
  top: -5px;
  height: 26px;
  background: url('../img/teacherItemTick.png') 0px 0px no-repeat;
}

.matter6:before {
  top: 0px;
  height: 22px;
  background: url('../img/teacherItemTick.png') 0px -78px no-repeat;
}

.matter7:before {
  top: 2px;
  height: 26px;
  background: url('../img/teacherItemTick.png') 0px -184px no-repeat;
}

.matter8:before {
  top: -5px;
  height: 30px;
  background: url('../img/teacherItemTick.png') 0px -125px no-repeat;
}

.matter9:before {
  top: 0px;
  height: 25px;
  background: url('../img/teacherItemTick.png') 0px -100px no-repeat;
}

.matter10:before {
  top: -2px;
  width: 32px;
  height: 27px;
  background: url('../img/teacherItemTick.png') 1px -157px no-repeat;
}

.matter11:before {
  position: relative;
  width: 20px;
  height: 21px;
  top: 10px;
  background: url('../img/teacherItemTickLit.png') 10px center no-repeat;
}

.matter12:before {
  width: 22px;
  height: 27px;
  background: url('../img/teacherItemTickGeo.png') center no-repeat;
}

.teacherItemInfo a.teacherItemInfoWatchingVideo {
  display: block;
  width: 100%;
  font-family: 'PTSansBold';
  font-size: 18px;
  color: #FFF;
  text-align: center;
  margin: 8px 0 0 0;
  padding: 10px 10px;
  border: none;
  background: #ed1e24;
}

.teacherItemInfoExperience {
  padding: 13px 0 15px 60px;
  color: #333333;
}

.teacherItemInfoExperience li {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 6px 0;
}

.teacherItemInfoExperience li:last-child {
  margin: 0 0 0 0;
}

@media (max-width: 769px) {
  .teacherItem {
    position: relative;
    margin: 0;
    margin-bottom: 22px;
    padding: 0 17px;
  }
  .teacherItemInfoMatter {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 250px;
    padding: 0;
    margin: 0;
  }

  .teachers .h3 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .teacherItem .teacherItemInfo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    vertical-align: top;
    margin: 22px 0 0 0;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #cccccc;
  }

  .teacherItemInfoPic {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .teacherItemInfoPic img {
    width: 185px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }

  .teacherItemInfoDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 182px;
    margin: 40px auto 37px auto;
    padding: 0;
  }

  .teacherItemInfoDetail > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    width: 175px;
    padding: 0;
    border-bottom: 1px solid #959595;
  }

  .teacherItemInfoDetail > ul > li {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    padding-left: 35px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
  }

  .teacherItemInfoDetail > ul > li:last-child {
    margin-bottom: 7px;
  }

  .teacherItemInfoDetail > ul > li:before {
    display: inline-block;
    position: absolute;
    left: 0;
    content: '';
    width: 26px;
  }

  .matter13:before {
    top: 5px;
    width: 16px;
    height: 17px;
  }

  .matter2:before {
    top: 5px;
    height: 17px;
    background: url('../img/teacherItemTick.png') -4px -42px no-repeat;
  }

  .matter3:before {
    top: 0;
    height: 25px;
    background: url('../img/teacherItemTick.png') 0 2px no-repeat;
  }

  .matter4:before {
    width: 26px;
    max-width: 26px;
    top: 2px;
    height: 21px;
    background: url('../img/teacherItemTick.png') 0 -58px no-repeat;
  }

  .matter5:before {
    top: 0;
    height: 26px;
    background: url('../img/teacherItemTick.png') 0 2px no-repeat;
  }

  .matter6:before {
    top: 5px;
    height: 22px;
    background: url('../img/teacherItemTick.png') 0px -78px no-repeat;
  }

  .matter7:before {
    top: 3px;
    height: 22px;
    background: url('../img/teacherItemTick.png') -2px -180px no-repeat;
  }

  .matter8:before {
    top: -3px;
    height: 30px;
    background: url('../img/teacherItemTick.png') 0px -125px no-repeat;
  }

  .matter9:before {
    top: 4px;
    height: 23px;
    background: url('../img/teacherItemTick.png') 0px -99px no-repeat;
  }

  .matter10:before {
    top: 2px;
    width: 32px;
    height: 25px;
    background: url('../img/teacherItemTick.png') 1px -155px no-repeat;
  }

  .matter11:before {
    position: absolute;
    width: 20px;
    height: 25px;
    top: 2px;
    background: url('../img/teacherItemTickLit.png') 5px center no-repeat;
  }

  .matter12:before {
    width: 22px;
    height: 27px;
    background: url('../img/teacherItemTickGeo.png') center no-repeat;
  }

  .teacherItemInfo a.teacherItemInfoWatchingVideo {
    width: 160px;
    font-size: 13.8px;
  }

  .teacherItemInfoExperience {
    padding: 0;
    margin-bottom: 10px;
  }

  .teacherItemInfoExperience li {
    max-width: 180px;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
  }
}

@media (max-width: 479px) {
  .teacherItem {
    position: relative;
    width: 290px;
    margin: 0 auto;
    margin-bottom: 22px;
    padding: 0 10px;
  }
  .teacherItemInfoMatter {
    position: static;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .teachers .h3 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .teacherItem .teacherItemInfo {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 13px 0 0 0;
  }

  .teacherItemInfoPic {
    width: auto;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  .teacherItemInfoPic img {
    width: 145px;
  }

  .teacherItemInfoDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 15px auto 27px auto;
  }

  .teacherItemInfoExperience {
    padding: 0;
    margin-bottom: 10px;
  }
}

/*teacherItemMoreInfo (подробная информация о преподе - нижняя часть карточки)*/

.teacherItemMoreInfo {
  display: inline-block;
  vertical-align: top;
  width: 572px;
  vertical-align: top;
  padding: 17px 0 15px 35px;
  position: relative;
  font-size: 18px;
  color: #333333;
}

.teacherItemMoreInfo p {
  line-height: 30px;
  margin: 0 0 8px 0;
}

.teacherItemMoreInfo > ul {
  font-size: 0;
  color: #333333;
  padding: 22px 0 36px 0;
}

.teacherItemMoreInfo > ul > li {
  line-height: 30px;
  padding: 0 0 0 36px;
  position: relative;
  font-size: 18px;
  color: #333333;
}

.teacherItemMoreInfo > ul > li:before {
  content: '•';
  position: absolute;
  left: 0px;
  top: 0px;
}

.teacherItemMoreInfo strong,
.teacherItemAbout strong {
  font-family: 'PTSansBold';
}

.teacherItemMoreInfo p:last-child {
  margin: 0 0 0 0;
}

.teacherItemMoreInfoAddress {
  margin: 0 0 10px 0;
}

.teacherItemMoreInfoPrice {
  margin: 0 0 21px 0;
}

.teacherItemMoreInfoAchievement {
  padding: 10px 0 15px 39px;
  border-top: 2px solid #ee292e;
  background: url('../img/markAchievement.png') left -2px no-repeat;
}

.teacherItemMoreInfoAchievement p {
  line-height: 24px;
  margin: 0 0 6px 0;
}

.teacherItemMoreInfoAchievement p em {
  color: #de5958;
}

.teacherItemMoreInfoLinks {
  position: absolute;
  bottom: 19px;
  right: 18px;
  text-align: right;
}

.teacherItemMoreInfoLinks a {
  color: #de5958;
  border-bottom: 1px solid #de5958;
}

.teacherItemMoreInfoLinks a:hover {
  color: #de5958;
  text-decoration: none;
  border-bottom: none;
}

.teacherItemMoreInfo .h2 {
  font-family: 'PTSansBold';
  font-size: 24px;
  color: #df4f3b;
  text-transform: none;
  margin: 0 0 9px 0;
}

.teacherItemMoreInfo .h3 {
  font-family: 'PTSansBoldItalic';
  font-size: 18px;
  color: #569029;
  text-transform: none;
  margin: 0 0 23px 0;
}

.teacherItemMoreInfoReview {
  margin-left: 37px;
}

@media (max-width: 769px) {
  .teacherItemMoreInfo {
    width: 100%;
    margin-top: 30px;
    padding: 0;
    position: relative;
    font-size: 18px;
    color: #333333;
  }

  .teacherItemMoreInfo .h2 {
    font-size: 20px;
    text-transform: none;
    color: #df4f3b;
    margin: 0;
    margin-bottom: 15px;
  }

  .teacherItemMoreInfo .h3 {
    font-size: 16px;
    color: #569029;
    text-transform: none;
    margin: 0 0 23px 0;
  }

  .teacherItemMoreInfo p {
    margin: 0;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }

  .teacherItemMoreInfo > ul {
    margin-top: 20px;
    padding: 0;
    list-style: initial;
    list-style-position: inside;
  }

  .teacherItemMoreInfo > ul > li {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }

  .teacherItemMoreInfo > ul > li p {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .teacherItemMoreInfo > ul > li:before {
    display: none;
  }

  .teacherItemMoreInfo strong,
  .teacherItemAbout strong {
    font-family: 'PTSansBold';
  }

  .teacherItemMoreInfo p:last-child {
    margin: 0 0 0 0;
  }

  .teacherItemMoreInfoAddress {
    max-width: 290px;
    margin: 0 auto;
    padding: 0;
    margin-top: 23px;
    font-size: 15px;
    text-align: center;
  }

  .teacherItemMoreInfoPrice {
    max-width: 290px;
    margin: 13px auto 25px auto;
    font-size: 15px;
    text-align: center;
  }

  .teacherItemMoreInfoAchievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 35px 0 30px 0;
    text-align: center;
  }

  .teacherItemMoreInfoAchievement p {
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
    line-height: 20px;
    text-align: center;
  }

  .teacherItemMoreInfoLinks {
    position: static;
    margin-bottom: 35px;
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .teacherItemMoreInfo {
    width: 100%;
    margin-top: 23px;
    padding: 0;
    position: relative;
    font-size: 18px;
    color: #333333;
  }

  .teacherItemMoreInfo .h2 {
    font-size: 18px;
    text-transform: none;
    color: #df4f3b;
    margin: 0;
    margin-bottom: 15px;
  }

  .teacherItemMoreInfoAchievement p {
    width: auto;
    max-width: 290px;
    margin: 0 auto;
    padding: 0 1px;
    line-height: 20px;
    text-align: center;
  }

  .teacherItemMoreInfoLinks {
    position: static;
    width: 100%;
    margin-bottom: 35px;
    font-size: 15px;
    text-align: center;
  }

  .teacherItemMoreInfoLinks a {
    display: block;
  }

  .teacherItemMoreInfoMore {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .teacherItemMoreInfoReview {
    width: 120px;
    margin: 0 auto;
  }
}

/*---------------teacherItemMoreInfo (страница Подробнее о преподователе)*/

.teacherItemAbout {
  padding-top: 22px;
  padding-bottom: 26px;
  font-size: 18px;
  color: #333333;
  line-height: 20px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.teacherItemAbout ol, .teacherItemAbout ul {
  margin: 0 0 20px 0;
  counter-reset: item;
}

.teacherItemAbout ol li {
}

.teacherItemAbout ol li:before {
  content: counter(item) '. ';
  counter-increment: item;
  padding: 0 16px 0 37px;
}

.teacherItemAbout ul li {
  margin: 0 0 12px 0;
  padding: 0 0 0 55px;
  position: relative;
}

.teacherItemAbout ul li:before {
  content: '•';
  padding: 0 16px 0 37px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.teacherItemAboutEducation > div,
.teacherItemAboutEducation > div > p {
  margin: 0 0 20px 0;
}

.teacherItemAboutEducation > div:last-child {
  margin: 0 0 0 0;
}

.teacherItemAboutEducation > div em,
.teacherItemAboutEducation > div > p > em,
.teacherItemAboutItalic {
  font-family: 'PTSansItalic';
}

.teacherItemAboutEducationPic {
  text-align: center;
  padding: 2px 5px 5px 0;
  /*display: flex;
  justify-content: space-between;*/
}

.teacherItemAboutEducationPic a {
  margin: 0 5px 0 0;;
}

.hr {
  margin: 0 auto 11px auto !important;
  width: 820px;
  border-top: 1px solid #de5958;
}

.teacherItemAboutEducation .diplomaSlider {
  margin: -24px 0 -33px 0;
  width: 987px;
  height: 482px;
  overflow: hidden;
  padding: 50px 0 0 0;
  background: url('../img/diplomaSliderBg.png') center top no-repeat;
  position: relative;
  left: -25px;
}

.diplomaSliderWrapper {
  width: 820px;
  position: relative;
  vertical-align: middle;
  height: 342px;
  margin: 0 auto;
}

.slick-slide {
  display: inline-block;
  outline: none;
  text-align: center;
}

.slick-slide a {
  display: table;
  margin: 0 auto;
}

.diplomaSliderWrapper img {
  width: auto;
  /*height: 342px;*/
}

.diplomaSlider .slick-arrow {
  width: 32px;
  height: 32px;
  background: #FFF;
  border: 1px solid #cdcdcd;
  position: absolute;
  top: 155px;
  border-radius: 16px;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.diplomaSlider .slick-prev.slick-arrow {
  left: -40px;
  background: url('../img/diplomaSliderArrowLeft.png') center no-repeat;
}

.diplomaSlider .slick-next.slick-arrow {
  right: -42px;
  background: url('../img/diplomaSliderArrowRight.png') center no-repeat;
}

.teacherItemAbout .showReview a {
  display: block;
  width: 300px;
  font-family: 'PTSansBold';
  font-size: 18px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  margin: 8px auto;
  padding: 19px 17px 15px 17px;
  border: none;
  background: #ed1e24;
}

.teacherItemAbout .showReview a:hover {
  background: #de5958;
}

@media (max-width: 769px) {
  .teacherItemAbout {
    padding-top: 22px;
    padding-bottom: 26px;
    font-size: 15px;
    line-height: 19px;
    margin-top: 25px;
    margin-bottom: 22px;
  }

  .teacherItemAbout ol, .teacherItemAbout ul {
    list-style: initial;
    list-style-position: inside;
  }

  .teacherItemAbout ol li:before {
    display: none;
  }

  .teacherItemAbout ul li:before {
  display: none;
  }

  .teacherItemAbout ol li {
    padding: 0;
  }

  .teacherItemAbout ul li {
    padding: 0;
  }

  .teacherItemAboutEducationPic {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .teacherItemAboutEducationPic img {
    width: 100%;
    height: auto;
  }

  .teacherItemAboutEducationPic a {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .teacherItemAboutEducation .diplomaSlider {
    margin: -24px 0 -33px 0;
    width: 100%;
    height: 482px;
    overflow: hidden;
    padding: 50px 0 0 0;
    background: url('../img/diplomaSliderBg.png') center top no-repeat;
    position: relative;
    left: -25px;
  }

  .diplomaSliderWrapper {
    width: 100%;
    position: relative;
    vertical-align: middle;
    height: 342px;
    margin: 0 auto;
  }

  .slick-slide {
    display: inline-block;
    outline: none;
    text-align: center;
  }

  .slick-slide a {
    display: table;
    margin: 0 auto;
  }

  .diplomaSliderWrapper img {
    width: auto;
  }

  .diplomaSlider .slick-arrow {
    width: 32px;
    height: 32px;
    background: #FFF;
    border: 1px solid #cdcdcd;
    position: absolute;
    top: 155px;
    border-radius: 16px;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .diplomaSlider .slick-prev.slick-arrow {
    left: -40px;
    background: url('../img/diplomaSliderArrowLeft.png') center no-repeat;
  }

  .diplomaSlider .slick-next.slick-arrow {
    right: -42px;
    background: url('../img/diplomaSliderArrowRight.png') center no-repeat;
  }

  .teacherItemAbout .showReview a {
    display: block;
    width: 300px;
    font-family: 'PTSansBold';
    font-size: 18px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    margin: 8px auto;
    padding: 19px 17px 15px 17px;
    border: none;
    background: #ed1e24;
  }

  .teacherItemAbout .showReview a:hover {
    background: #de5958;
  }
}

@media (max-width: 479px) {
  .teacherItemAbout {
    font-size: 14px;
    line-height: 17px;
  }

  .teacherItemAboutEducation .diplomaSlider {
    margin: -24px 0 -33px 0;
    width: 100%;
    height: 482px;
    overflow: hidden;
    padding: 50px 0 0 0;
    background: url('../img/diplomaSliderBg.png') center top no-repeat;
    position: relative;
    left: -25px;
  }

  .diplomaSliderWrapper {
    width: 100%;
    position: relative;
    vertical-align: middle;
    height: 342px;
    margin: 0 auto;
  }

  .slick-slide {
    display: inline-block;
    outline: none;
    text-align: center;
  }

  .slick-slide a {
    display: table;
    margin: 0 auto;
  }

  .diplomaSliderWrapper img {
    width: auto;
  }

  .diplomaSlider .slick-arrow {
    width: 32px;
    height: 32px;
    background: #FFF;
    border: 1px solid #cdcdcd;
    position: absolute;
    top: 155px;
    border-radius: 16px;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .diplomaSlider .slick-prev.slick-arrow {
    left: -40px;
    background: url('../img/diplomaSliderArrowLeft.png') center no-repeat;
  }

  .diplomaSlider .slick-next.slick-arrow {
    right: -42px;
    background: url('../img/diplomaSliderArrowRight.png') center no-repeat;
  }

  .teacherItemAbout .showReview a {
    width: 205px;
    font-size: 15px;
  }
}