/* VACANCY
-----------------------------------------------------------------------------*/

/*--------------block-1----------------*/

.vacancy .block1 {
  height: 157px;
  background: url('../img/vacancyTopPic.jpg') center top no-repeat;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
}

.vacancy .block1 .h1 {
  font-size: 30px;
  padding-top: 50px;
}

.vacancy .block1 .h2 {
  font-size: 24px;
  padding-top: 12px;
}

@media (max-width: 1025px) {
  .vacancy .block1 {
    height: 225px;
    background: url('../img/vacancyTopPic.jpg') left top no-repeat;
    background-size: cover;
  }

  .vacancy .block1 .wrapper {
    position: relative;
    width: 450px;
    margin: 0 auto;
  }

  .vacancy .block1 .loginPan {
    right: 0;
  }

  .vacancy .block1 .h1 {
    width: 430px;
    font-size: 24px;
    line-height: 28px;
    padding-top: 70px;
  }

  .vacancy .block1 .h2 {
    width: 275px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (max-width: 479px) {
  .vacancy .block1 {
    background: url('../img/vacancyTopPic-320.jpg') center bottom no-repeat;
    background-size: cover;
    height: 231px;
  }

  .vacancy .block1 .wrapper {
    width: 290px;
    margin: 0 auto;
  }

  .vacancy .block1 .h1 {
    width: 245px;
    font-size: 20px;
    line-height: 23px;
    padding-top: 70px;
  }

  .vacancy .block1 .h2 {
    width: 250px;
    font-size: 17px;
    line-height: 21px;
  }
}

/*--------------block-2----------------*/

.vacancy .block2 {
  height: 400px;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #ed1e24;
}

.vacancy .block2 .wrapper {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.vacancy .block2 .wrapper:before {
  content: url('../img/vacancyTeacher.png');
  position: absolute;
  left: -230px;
  bottom: -328px;
  z-index: 1;
}

.vacancy .block2 .wrapper:after {
  content: url('../img/vacancyStudent.png');
  position: absolute;
  right: -210px;
  bottom: -328px;
  z-index: 1;
}

.vacancy .block2 .info {
  width: 366px;
  height: 260px;
  margin: 25px auto 0 auto;
  padding: 23px 0 0 0;
  border: 5px solid #e1e1e1;
  background: #FFF;
  position: relative;
  z-index: 2;
}

.vacancy .block2 .h5 {
  color: #333333;
  text-transform: uppercase;
  margin: 0 0 37px 0;
}

.vacancy .block2 ul {
  font-size: 0;
}

.vacancy .block2 li {
  color: #333333;
  font-size: 24px;
  margin: 0 0 19px 0;
}

.vacancy .block2 ul span {
  font-size: 30px;
  color: #ed1e24;
}

@media (max-width: 1025px) {
  .vacancy .block2 {
    position: relative;
    height: 387px;
    padding: 43px 0;
    font-size: 20px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 254px;
      height: 234px;
      background-image: url("../img/vacancyStudent-480.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 254px;
      height: 234px;
      background-image: url("../img/vacancyTeacher-480.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .vacancy .block2 .wrapper {
    width: 450px;
    margin: 0 auto;
    position: static;
  }

  .vacancy .block2 .h4 {
    width: 290px;
    margin: 0 auto;
  }

  .vacancy .block2 .wrapper:before {
    display: none;
  }

  .vacancy .block2 .wrapper:after {
    display: none;
  }

  .vacancy .block2 .info {
    width: 230px;
    height: 215px;
    margin: 25px auto 0 auto;
    padding: 30px 0 0;
    border: 4px solid #e1e1e1;
    position: relative;
    z-index: 2;
  }

  .vacancy .block2 .h5 {
    color: #333333;
    text-transform: uppercase;
    margin: 0 0 26px 0;
    font-size: 21px;
    line-height: 14px;
  }

  .vacancy .block2 ul {
    width: 190px;
    margin: 0 auto;
    padding-left: 5px;
  }

  .vacancy .block2 li {
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 18px;
    line-height: 14px;
    margin: 0 0 30px 0;
    text-align: left;
    vertical-align: middle;
  }

  .vacancy .block2 ul span {
    font-size: 24px;
    line-height: 14px;
    margin-right: 13px;
  }
  .vacancy .block2 li:nth-child(2) span {
    margin-left: 7px;
    margin-right: 19px;
  }
  .vacancy .block2 li:nth-child(3) span {
    margin-left: 13px;
    margin-right: 25px;
  }
}

@media (max-width: 479px) {
  .vacancy .block2 {
    position: relative;
    height: 484px;
    padding: 38px 0;
    font-size: 18px;
    line-height: 22px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 163px;
      height: 129px;
      background-image: url("../img/vacancyStudent-320.png");
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 150px;
      height: 122px;
      background-image: url("../img/vacancyTeacher-320.png");
    }
  }

  .vacancy .block2 .wrapper {
    width: 290px;
  }

  .vacancy .block2 .h4 {
    width: 230px;
  }

  .vacancy .block2 .info {
    width: 227px;
    height: 206px;
    margin: 27px auto 0 auto;
    padding: 29px 0 0;
    border: 3px solid #e1e1e1;
    background: #FFF;
    position: relative;
    z-index: 2;
  }

  .vacancy .block2 .h5 {
    color: #333333;
    text-transform: uppercase;
    margin: 0 0 33px 0;
    font-size: 20px;
    line-height: 14px;
  }

  .vacancy .block2 ul {
    width: 190px;
    margin: 0 auto;
    padding-left: 5px;
  }

  .vacancy .block2 li {
    margin: 0 0 27px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .vacancy .block2 ul span {
    font-size: 23px;
  }
}

/*--------------block-3----------------*/

.vacancy .block3 {
  min-height: 525px;
  padding: 40px 0 30px 0;
  background: #b2d8cf;
}

.vacancy .block3 .wrapper {
  width: 942px;
  margin: 0 auto;
}

.vacancy .block3 .h1 {
  font-size: 30px;
  color: #FFF;
  margin: 0 0 33px 0;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.vacancy .block3 .h3 {
  font-size: 30px;
  color: #de361e;
  margin: 0 0 27px 0;
}

.vacancy .block3 li {
  position: relative;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 0 0;
}

.vacancy .block3 li:before {
  position: absolute;
  top: 12px;
  left: -23px;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #8dc63f;
}

.vacancy .block3Left {
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.vacancy .block3Right {
  display: inline-block;
  vertical-align: top;
}

.vacancy .block3Item {
  width: 458px;
  padding: 31px 31px 27px 59px;
  background: #e8f3f1;
}

.vacancy .block3Item:last-child {
  margin-right: 0px;
}

.vacancy .block3ItemTeacher {
  width: 458px;
  margin: 18px 0 0 0;
  display: inline-block;
  vertical-align: top;
}

.vacancy .block3ItemTeacherLeft {
  float: left;
  width: 180px;
  height: 170px;
  background: url('../img/vacancyBarantsov.png') left top no-repeat;
}

.vacancy .block3ItemTeacherRight {
  float: right;
  width: 270px;
  text-align: center;
}

.vacancy .block3ItemTeacherRight blockquote {
  width: 265px;
  padding: 12px 14px 13px 14px;
  line-height: 22px;
  background: #FFF;
  border-radius: 10px;
  font-style: italic;
  position: relative;
  right: -5px;
}

.vacancy .block3ItemTeacherRight blockquote:before {
  content: url('../img/vacancyBuble.png');
  position: absolute;
  top: 24px;
  left: -15px;
}

.vacancy .block3ItemTeacherRight p {
  font-family: 'PTSansItalic';
  font-size: 14px;
  line-height: 17px;
  margin: 11px 0 12px 0;
}

.vacancy .block3ItemTeacherRight .btn {
  font-family: 'PTSansBold';
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  display: block;
  height: 44px;
  line-height: 38px;
  background: #de5958;
  border-radius: 0;
  text-shadow: 0px -1px 0px rgba(173, 43, 42, 1);
}

@media (max-width: 1025px) {
  .vacancy .block3 {
    min-height: 1093px;
    height: 1093px;
    padding: 45px 0 0 0;
  }

  .vacancy .block3 .wrapper {
    width: 450px;
  }

  .vacancy .block3 .h1 {
    width: 370px;
    font-size: 24px;
    line-height: 14px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .vacancy .block3 .h3 {
    font-size: 24px;
    line-height: 14px;
    margin: 0 0 21px 0;
  }

  .vacancy .block3 strong {
    font-weight: 700;
  }

  .vacancy .block3Left {
    display: block;
    margin-right: 0;
    margin-bottom: 26px;
  }

  .vacancy .block3Right {
    display: block;
  }

  .vacancy .block3Item {
    width: 100%;
  }

  .vacancy .block3ItemTeacher {
    width: 100%;
    margin: 40px 0 0 0;
    display: block;
  }
}

@media (max-width: 479px) {
  .vacancy .block3 {
    height: auto;
    min-height: 1018px;
    max-height: 1118px;
    padding: 49px 0 93px 0;
  }

  .vacancy .block3 .wrapper {
    width: 290px;
  }

  .vacancy .block3 .h1 {
    width: 100%;
    font-size: 19px;
    margin-bottom: 25px;
  }

  .vacancy .block3 .h3 {
    font-size: 20px;
    margin: 0 0 15px 0;
  }

  .vacancy .block3Item {
    width: 100%;
    padding-left: 34px;
    padding-right: 19px;
    padding-bottom: 30px;
  }

  .vacancy .block3 li {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .vacancy .block3 li:before {
    top: 3px;
    left: -23px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #8dc63f;
  }

  .vacancy .block3ItemTeacher {
    width: 100%;
    margin: 50px 0 0 0;
    display: inline-block;
  }

  .vacancy .block3ItemTeacherLeft {
    float: left;
    width: 102px;
    height: 102px;
    background: url('../img/vacancyBarantsov-320.png') left top no-repeat;
  }

  .vacancy .block3ItemTeacherRight {
    position: relative;
    width: 180px;
  }

  .vacancy .block3ItemTeacherRight blockquote {
    display: flex;
    align-items: center;
    width: 174px;
    height: 62px;
    padding: 0 5px;
    padding-left: 7px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
  }

  .vacancy .block3ItemTeacherRight blockquote:before {
    content: url('../img/vacancyBuble.png');
    position: absolute;
    top: 20px;
    left: -12px;
  }

  .vacancy .block3ItemTeacherRight p {
    font-size: 12px;
    line-height: 13px;
    margin: 7px 0 12px 0;
  }

  .vacancy .block3ItemTeacherRight .btn {
    position: absolute;
    bottom: -37px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    height: 37px;
    line-height: normal;
  }
}

/*--------------block-4----------------*/

.vacancy .block4 {
  min-height: 468px;
}

.vacancy .block4 .wrapper {
  width: 980px;
  padding: 45px 0 43px 0;
  margin: 0 auto;
}

.vacancy .block4 .matters {
  min-height: 203px;
  background: url('../img/vacancyMatterBG.jpg');
  text-transform: uppercase;
  border-radius: 10px;
}

.vacancy .block4 .matters .h2 {
  display: table;
  padding: 10px 26px 5px 26px;
  margin: 0 auto;
  position: relative;
  top: -18px;
  text-align: center;
  background: #a3bbd3;
  font-family: 'PTSansBold';
  color: #FFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);

  -webkit-box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.vacancy .block4 table {
  width: 772px;
  margin: 11px auto 0 auto;
  vertical-align: top;
  border-collapse: collapse;
  font-size: 18px;
}

.vacancy .block4 td:nth-child(1) {
  width: 318px;
}

.vacancy .block4 td:nth-child(2) {
  width: 300px;
}

.vacancy .block4 td:nth-child(3) {

}

.vacancy .block4 td > div {
  margin: 0 0 18px 0;
}

.vacancy .block4 .hotVacancy {
  width: 818px;
  margin: 0 auto;
  height: 248px;
  padding: 23px 0 0 214px;
  color: #FFF;
  background-color: #de5958;
  background-image: url('../img/vacancyHotVacancy.png');
  background-repeat: no-repeat;
  background-position: 26px 19px;
}

.vacancy .block4 .hotVacancy .h2 {
  font-size: 24px;
  font-family: 'PTSansBold';
  text-transform: uppercase;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 0 0 8px 84px;
}

.vacancy .block4 .hotVacancy .h3 {
  font-size: 24px;
  margin: 0 0 27px 0;
}

.vacancy .block4 .hotVacancy ul {
  font-size: 0px;
  margin: 0 0 0 25px;
}

.vacancy .block4 .hotVacancy li {
  font-size: 18px;
  font-style: italic;
  margin: 0 0 12px 0;
  position: relative;
}

.vacancy .block4 .hotVacancy li:before {
  position: absolute;
  left: -23px;
  top: 4px;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #FFF;
}

@media (max-width: 1025px) {
  .vacancy .block4 {
    min-height: 779px;
  }

  .vacancy .block4 .wrapper {
    width: 450px;
    padding: 75px 0 70px 0;
  }

  /*------------синей блок с предметами-------------*/

  .vacancy .block4 .matters {
    width: 100%;
    min-height: 203px;
    background: url('../img/vacancyMatterBG-480.jpg') no-repeat center;
    background-size: cover;
  }

  .vacancy .block4 .matters .h2 {
    display: table;
    padding: 10px 26px 5px 26px;
    margin: 0 auto;
    font-size: 24px;
    line-height: normal;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.3);
  }

  .vacancy .block4 table {
    width: 100%;
    margin: 20px auto 0 auto;
    font-size: 16px;
  }

  .vacancy .block4 td {
    padding-left: 15px;
  }

  .vacancy .block4 td:nth-child(1) {
    width: 130px;
  }

  .vacancy .block4 td:nth-child(2) {
    width: 130px;
  }

  .vacancy .block4 td:nth-child(3) {
    width: 130px;
  }

  .vacancy .block4 td > div {
    margin: 0 0 18px 0;
  }

  /*------------красный блок-------------*/

  .vacancy .block4 .hotVacancy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 366px;
    height: 445px;
    padding: 15px 0 0 0;
    background-image: none;
  }

  .vacancy .block4 .hotVacancy .h2 {
    font-size: 24px;
    line-height: 14px;
    margin: 0;
    margin-bottom: 10px;

    &::before {
      content: "";
      display: block;
      width: 91px;
      height: 111px;
      margin: 0 auto;
      margin-bottom: 20px;
      background-image: url('../img/vacancyHotVacancy-480.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .vacancy .block4 .hotVacancy .h3 {
    font-size: 17px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 20px;
  }

  .vacancy .block4 .hotVacancy ul {
    margin: 0 0 0 25px;
  }

  .vacancy .block4 .hotVacancy li {
    width: 240px;
    font-size: 16px;
    line-height: normal;
    margin: 0 0 15px 0;
    position: relative;
  }

  .vacancy .block4 .hotVacancy li:before {
    position: absolute;
    left: -23px;
    top: 4px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #FFF;
  }
}

@media (max-width: 479px) {
  .vacancy .block4 .wrapper {
    width: 297px;
    padding: 64px 0;
  }

  /*------------синей блок с предметами-------------*/

  .vacancy .block4 .matters {
    width: 100%;
    min-height: 230px;
  }

  .vacancy .block4 .matters .h2 {
    padding: 10px 25px 5px 25px;
    font-size: 20px;
  }

  .vacancy .block4 table {
    width: 100%;
    margin: 10px auto 0 auto;
    font-size: 15px;
  }

  .vacancy .block4 tr {
    display: flex;
    flex-wrap: wrap;
  }

  .vacancy .block4 td {
    padding-left: 20px;
  }

  .vacancy .block4 td:nth-child(1) {
    width: 50%;
  }

  .vacancy .block4 td:nth-child(2) {
    width: 50%;
  }

  .vacancy .block4 td:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & div:first-child {
      width: 128px;
    }
    & div:nth-child(2) {
      padding-left: 20px;
    }
  }

  /*------------красный блок-------------*/

  .vacancy .block4 .hotVacancy {
    width: 279px;
    height: 424px;
    padding: 15px 0 0 0;
  }

  .vacancy .block4 .hotVacancy .h2 {
    font-size: 20px;
    line-height: 14px;
    margin: 0;
    margin-bottom: 6px;

    &::before {
      content: "";
      display: block;
      width: 91px;
      height: 111px;
      margin: 0 auto;
      margin-bottom: 20px;
      background-image: url('../img/vacancyHotVacancy-480.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .vacancy .block4 .hotVacancy .h3 {
    font-size: 16px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 17px;
  }

  .vacancy .block4 .hotVacancy ul {
    margin: 0 0 0 25px;
    padding: 0 5px;
  }

  .vacancy .block4 .hotVacancy li {
    width: 220px;
    font-size: 15px;
    line-height: normal;
    margin: 0 0 15px 0;
    position: relative;
  }

  .vacancy .block4 .hotVacancy li:before {
    position: absolute;
    left: -18px;
    top: 4px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #FFF;
  }
}

/*--------------block-5----------------*/

.vacancy .block5 {
  height: 1400px;
  padding: 54px 0;
  background: url('../img/vacancyBottomPic.jpg') center top no-repeat;
  background-size: cover;
}

.vacancy .block5 .wrapper {
  width: 942px;
  margin: 0 auto;
}

.vacancy .block5 .h2 {
  font-size: 24px;
  letter-spacing: -1px;
  margin: 0 0 40px 0;
}

.vacancy .block5 .h2 strong {
  font-family: 'PTSansBold';
  color: #ea1c1b;
  text-transform: uppercase;
}

.vacancy .block5 .h3 {
  font-family: 'PTSansBold';
  font-size: 18px;
  text-transform: uppercase;
  color: #ea1c1b;
  margin: 0 0 23px 0;
}

.vacancy .block5Item {
  width: 460px;
  height: 1200px;
  padding: 32px 16px 0px 28px;
  background: rgba(252, 252, 252, 0.8);
  font-size: 18px;
  line-height: 22px;
}

.vacancy .block5 td {
  width: 460px;
  padding: 32px 16px 0px 28px;
  vertical-align: top;
  background: rgba(252, 252, 252, 0.8);
}

.vacancy .block5 td:last-child {
  position: relative;
  left: 18px;
}

.vacancy .block5 .item {
  min-height: 180px;
  margin: 0 0 23px 0;
}

.vacancy .block5 .h3 {
  position: relative;
  padding: 0 0 0 40px;
  letter-spacing: -0.5px;
}

.vacancy .block5 .h3 span {
  display: inline-block;
  vertical-align: top;
  width: 61px;
  height: 40px;
  position: absolute;
  background: url('../img/vacancyGreenFlag.png') center top no-repeat;
  left: -33px;
  top: -15px;
  font-size: 24px;
  color: #FFF;
  line-height: 50px;
  text-align: center;
}

.vacancy .block5 p {
  font-size: 18px;
  line-height: 22px;
  width: 400px;
  letter-spacing: -0.5px;
}

@media (max-width: 1025px) {
  .vacancy .block5 {
    width: 100%;
    height: 2080px;
    padding: 60px 0;
    background: url('../img/vacancyBottomPic-480.jpg') center top no-repeat;
    background-size: cover;
  }

  .vacancy .block5 .wrapper {
    width: 450px;
  }

  .vacancy .block5 .h2 {
    width: 390px;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: normal;
    margin: 0 auto 40px auto;
  }

  .vacancy .block5 .h3 {
    margin: 0 0 18px 0;
    padding: 0 0 0 30px;
    font-size: 18px;
    letter-spacing: -0.5px;
  }

  .vacancy .block5 table {
    margin: 0 auto;
  }

  .vacancy .block5 tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .vacancy .block5Item {
    width: 100%;
    height: auto;
  }

  .vacancy .block5 td {
    width: 440px;
  }

  .vacancy .block5 td:last-child {
    position: static;
    padding-top: 0;
  }

  .vacancy .block5 .item {
    min-height: auto;
    margin: 0 0 40px 0;
  }

  .vacancy .block5 .h3 span {
    width: 52px;
    height: 37px;
    position: absolute;
    background: url('../img/vacancyGreenFlag-480.png') center top no-repeat;
    background-size: cover;
    left: -32px;
    top: -15px;
    font-size: 23px;
    line-height: 46px;
  }

  .vacancy .block5 p {
    font-size: 16px;
    line-height: normal;
    width: 400px;
    letter-spacing: normal;
  }
}

@media (max-width: 479px) {
  .vacancy .block5 {
    width: 100%;
    height: auto;
    min-height: 2330px;
    max-height: 2430px;
    padding: 60px 0;
    background: url('../img/vacancyBottomPic-480.jpg') center top no-repeat;
    background-size: cover;
  }

  .vacancy .block5 .wrapper {
    width: 299px;
  }

  .vacancy .block5 .h2 {
    width: 246px;
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto 34px auto;
  }

  .vacancy .block5 .br__480px {
    display: block;
  }

  .vacancy .block5 .h3 {
    margin: 0 0 18px 0;
    padding: 0 0 0 52px;
    font-size: 16px;
    letter-spacing: -0.5px;
  }

  .vacancy .block5 table {
    margin: 0 auto;
  }

  .vacancy .block5 td {
    width: 299px;
    padding: 32px 16px 0px 13px;
  }

  .vacancy .block5 .item {
    min-height: auto;
    margin: 0 0 30px 0;
  }

  .vacancy .block5 .h3 span {
    width: 52px;
    height: 37px;
    position: absolute;
    background: url('../img/vacancyGreenFlag-480.png') center top no-repeat;
    background-size: cover;
    left: -17px;
    top: -7px;
    font-size: 23px;
    line-height: 46px;
  }

  .vacancy .block5 td:last-child .item:first-child .h3 span {
    top: -15px;
  }

  .vacancy .block5 p {
    width: 280px;
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
  }
}

/*--------------block-6----------------*/

.vacancy .block6 .wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0 10px 0;
}

.vacancy .block6 .requirements {
  padding: 24px 78px 28px 78px;
  background: #FFF;
  border: 3px solid #e1e1e1;
}

.vacancy .block6 .requirements table {
  width: 850px;
  margin: 0 auto;
}

.vacancy .block6 .requirements td {
  padding: 0 20px 0 0px;
  vertical-align: top;
}

.vacancy .block6 .requirements td:first-child {
  width: 409px;
  border-right: 1px solid #d7d7d7;
}

.vacancy .block6 .requirements td:last-child {
  padding-left: 70px;
}

.vacancy .block6 .requirementsItem {
  margin: 0 0 33px 0;
}

.vacancy .block6 .h2 {
  font-family: 'PTSansBold';
  font-size: 24px;
  text-transform: uppercase;
  color: #6db337;
  text-align: center;
  margin: 0 0 38px 0;
}

.vacancy .block6 .h3 {
  font-family: 'PTSansBold';
  font-size: 18px;
  color: #ea1c1b;
  position: relative;
  margin: 0 0 28px 82px;
}

.vacancy .block6 .h3:before {
  position: absolute;
  left: -45px;
  top: -5px;
  content: url('../img/tickGreenSmall.png');
}

.vacancy .block6 p {
  font-size: 18px;
  line-height: 21px;
  font-family: 'PTSansItalic';
}

.vacancy .block6 .more {
  margin: -14px 0 -20px 0;
}

.vacancy .block6 .more a {
  font-family: 'PTSansItalic';
  font-size: 18px;
  color: #de5958;
  border-bottom: 1px solid #f3c8c8;
}

.vacancy .block6 .stages {
  padding: 32px 0;
}

.vacancy .block6 .stages td:first-child {
  width: 640px;
  padding: 0 20px 0 0;
}

.vacancy .block6 .stages .h2 {
  margin: 0 0 24px 0;
}

.vacancy .block6 ol {
  counter-reset: num;
  margin: 0 0 0 40px;
  position: relative;
  top: -20px;
}

.vacancy .block6 ol li {
  font-size: 18px;
  line-height: 21px;
  padding: 0 0 0 38px;
  margin: 0 0 37px 0;
  position: relative;
}

.vacancy .block6 ol li:before {
  font-family: 'PTSansBold';
  font-size: 48px;
  content: counter(num) ' ';
  counter-increment: num;
  color: #de5958;
  position: absolute;
  left: 0;
  top: 15px;
}

.vacancy .block6 li strong {
  font-family: 'PTSansBold';
}

.vacancy .block6 a.takeInterview {
  display: block;
  width: 320px;
  height: 37px;
  line-height: 39px;
  margin: 0 auto;
  text-align: center;
  background: #699d41;
  font-family: 'PTSansBold';
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(0, 51, 0, 1);
  position: relative;
  top: -20px;
}

.vacancy .block6 .info {
  background: #de5958;
  padding: 19px 20px 17px 20px;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
}

.vacancy .block6 .info1 {
  font-family: 'PTSansBold';
  text-align: center;
  position: relative;
  padding: 0 0 10px 0;
}

.vacancy .block6 .info1:after {
  position: absolute;
  bottom: -1px;
  left: 92px;
  content: '';
  width: 92px;
  height: 1px;
  border-bottom: 1px solid #FFF;
}

.vacancy .block6 .info2 {
  padding: 14px 0 0 0;
  font-family: 'PTSansItalic';
}

@media (max-width: 1025px) {
  .vacancy .block6 .wrapper {
    width: 450px;
    padding: 65px 0 73px 0;
  }

  /*---------------Требования------------------*/

  .vacancy .block6 .requirements {
    width: 429px;
    margin: 0 auto;
    padding: 50px 15px;
  }

  .vacancy .block6 .h2 {
    width: 282px;
    margin: 0 auto 38px auto;
    font-size: 24px;
    line-height: 30px;
  }

  .vacancy .block6 .h3 {
    width: auto;
    min-width: 126px;
    max-width: 263px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .vacancy .block6 .requirements table {
    width: 100%;
  }

  .vacancy .block6 .requirements tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vacancy .block6 .requirements td {
    padding: 0;
    vertical-align: top;
  }

  .vacancy .block6 .requirements td:first-child {
    width: 100%;
    border-right: none;
  }

  .vacancy .block6 .requirements td:last-child {
    padding-left: 0;
  }

  .vacancy .block6  td:first-child .requirementsItem:nth-child(2) {
    margin-bottom: 21px;
  }

  .vacancy .block6  td:last-child .requirementsItem:first-child {
    margin-bottom: 60px;
  }

  .vacancy .block6  td:last-child .requirementsItem:last-child {
    margin-bottom: 0;
  }

  .vacancy .block6 .requirementsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 35px 0;
  }

  .vacancy .block6 p {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  .vacancy .block6 td:last-child p {
    padding: 0 13px;
  }

  .vacancy .block6 .more {
    margin: 0;
    margin-bottom: 65px;
    text-align: center;
  }

  .vacancy .block6 .more a {
    font-size: 18px;
  }

  /*---------------Этапы------------------*/

  .vacancy .block6 .stages {
    padding: 50px 0;
    padding-bottom: 0;
  }

  .vacancy .block6 .stages .h2 {
    margin: 0 auto 30px auto;
    font-size: 24px;
    line-height: 30px;
  }
  .vacancy .block6 .stages table {
    width: 400px;
    margin: 0 auto;
  }

  .vacancy .block6 .stages tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vacancy .block6 .stages td:first-child {
    width: 100%;
    padding: 0;
  }

  .vacancy .block6 ol {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 0;
  }

  .vacancy .block6 ol li {
    font-size: 18px;
    line-height: normal;
    padding: 0 0 0 38px;
    margin: 0 0 37px 0;
    position: relative;
  }

  .vacancy .block6 ol li:before {
    top: -3px;
  }

  .vacancy .block6 a.takeInterview {
    margin-top: 35px;
    margin-bottom: 58px;
    position: static;
  }

  .vacancy .block6 .info {
    width: 320px;
    padding: 18px 5px 17px 5px;
    font-size: 18px;
    line-height: normal;
  }

  .vacancy .block6 .info1 {
    padding: 0 25px;
    font-weight: bolder;
  }
  .vacancy .block6 .info1:after {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    position: static;
  }

  .vacancy .block6 .info2 {
    padding: 14px 0 0 0;
  }
}

@media (max-width: 479px) {
  .vacancy .block6 .wrapper {
    width: 295px;
    padding: 56px 0 62px 0;
  }

  /*---------------Требования------------------*/

  .vacancy .block6 .requirements {
    width: 100%;
    margin: 0 auto;
    padding: 40px 15px;
  }

  .vacancy .block6 .h2 {
    width: 237px;
    margin: 0 auto 32px auto;
    font-size: 20px;
    line-height: 26px;
  }

  .vacancy .block6 .h3 {
    width: auto;
    min-width: 121px;
    max-width: 270px;
    margin-left: 35px;
    margin-bottom: 18px;
    font-size: 17px;
    text-align: center;
  }

  .vacancy .block6 .h3:before {
    content: "";
    left: -35px;
    width: 25px;
    height: 23px;
    background-image: url('../img/tickGreenSmall.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .vacancy .block6 .requirements td:last-child .h3:first-child {
    margin-left: 25px;
  }

  .vacancy .block6  td:first-child .requirementsItem:nth-child(2) {
    margin-bottom: 25px;
  }

  .vacancy .block6  td:last-child .requirementsItem:first-child {
    margin-bottom: 60px;
  }

  .vacancy .block6  td:last-child .requirementsItem:last-child {
    margin-bottom: 0;
  }

  .vacancy .block6 .requirementsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 35px auto;

    & p {
      width: 255px;
      margin-left: -7px;
    }
  }

  .vacancy .block6 p {
    font-size: 15px;
    line-height: normal;
    text-align: center;
  }

  .vacancy .block6 td:last-child p {
    padding: 0;
  }

  .vacancy .block6 .more {
    width: 265px;
    margin: 0 auto 65px auto;
    text-align: center;
  }

  .vacancy .block6 .more a {
    font-size: 16px;
  }

  /*---------------Этапы------------------*/

  .vacancy .block6 .stages {
    padding: 45px 0;
    padding-bottom: 0;
  }

  .vacancy .block6 .stages .h2 {
    margin: 0 auto 30px auto;
    font-size: 20px;
    line-height: normal;
  }
  .vacancy .block6 .stages table {
    width: 100%;
  }

  .vacancy .block6 .stages td:first-child {
    width: 100%;
  }

  .vacancy .block6 ol {
    width: 100%;
  }

  .vacancy .block6 ol li {
    width: 285px;
    font-size: 15px;
    padding: 0 0 0 35px;
    margin: 0 0 30px 0;
  }

  .vacancy .block6 ol li:before {
    top: -7px;
  }

  .vacancy .block6 a.takeInterview {
    width: 267px;
    //margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 39px;
    font-size: 16px;
  }

  .vacancy .block6 .info {
    width: 282px;
    padding: 20px 5px 30px 5px;
    font-size: 18px;
    line-height: normal;
  }

  .vacancy .block6 .info1 {
    padding: 0 15px;
    font-weight: bolder;
    & p {
      font-size: 18px;
    }
  }

  .vacancy .block6 .info1:after {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    position: static;
  }

  .vacancy .block6 .info2 p{
    font-size: 16px;
  }
}