colorSmallTileBg = #F5F5F5

.s-tiles-small
  article
    background: colorSmallTileBg
    border: 5px solid colorSmallTileBg
    padding: 20px 10px 20px 115px
    // width: 300px
    width: auto
    height: 140px
    position: relative

    > a
      display: block
      text-decoration: none
      theme(color 'base')
      &:hover
        theme(color 'base')
        h3
          theme(color 'accent-2')

  h3
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    font-weight: 500
    font-size: 16px
    transition: color .2s
    margin-bottom: 12px

  .tpl-property-type
    display: block
    position: relative
    margin-top: -0.5em
    line-height: 1.1
    text-align: left
    background: none
    font-size: 12px
    font-style: italic
    font-weight: 400
    text-overflow: ellipsis
    overflow: hidden
    max-width: 152px
    max-height: 3.3em

  .tpl-property-image
    display: block
    position: absolute
    left: 15px
    top: 20px
    width: 90px
    height: 65px
    line-height: 60px
    text-align: center
    img
      display inline-block
      vertical-align middle
      max-height: 100%
      max-width: 100%

  .tpl-block-rating
    position: absolute
    left: 15px
    width: 90px
    bottom: 17px
    font-size: 14px
    line-height: 1.4

  .tpl-property-item-price
    display: block
    position: absolute
    left: 113px
    bottom: 17px
    font-size: 22px
    line-height: 1
    text-align: center
    font-weight: 400
    overflow hidden

  .tpl-property-original-price
  .tpl-property-description
  form
    display none
