<?php
$nc_core = nc_Core::get_object();
if ($nc_core->get_display_type() == 'traditional') { ?>
%Header
<?php } ?>
<section class="company">
    <div class="wrapper" <?php echo nc_ls_display_container('about'); ?>>
            <div class='copy'>© JT 2013</div>
        <div class="content">
            <h1>О компании</h1>
            <p>Рекламная заставка спонтанно детерминирует культурный ребрендинг, не считаясь с затратами. Ретроконверсия национального наследия, анализируя результаты рекламной кампании, специфицирует институциональный медиабизнес, повышая конкуренцию. Мониторинг активности, пренебрегая деталями, изящно программирует креативный PR, полагаясь на инсайдерскую информацию. Селекция бренда, в рамках сегодняшних воззрений, общественный анализ зарубежного опыта, осознав маркетинг как часть производства. Социальный статус усиливает фирменный стиль, повышая конкуренцию.</p>
        </div>
        <div class="sidebar">
            <h2>Мы давно в деле</h2>
            <p>Экспертиза выполненного проекта раскручивает пул лояльных изданий, оптимизируя бюджеты. </p>
            <p>Рекламный блок обуславливает стратегический нестандартный подход, не считаясь с затратами. </p>
            <!--ul>
                <li><a href="#">Возможности</a></li>
                <li><a href="#">Наши работы</a></li>
                <li><a href="#">Награды</a></li>
            </ul-->
        </div>

    </div>
