html, body { margin: 0; padding: 0; background-color: #515659; font-size: 13px; line-height: 18px; font-family: Arial; color: #e3e3e3 }
a { color: #f8d522 }
a:hover { text-decoration: none }
a img { border: 0 }
h1 { font-size: 22px; line-height: 24px; color: #e3e3e3; font-weight: normal; margin: 0; padding: 35px 0 13px 0 }
h2 { font-size: 18px; line-height: 20px; color: #e3e3e3; font-weight: normal; margin: 0; padding: 5px 0 10px 0 }
h3 { font-size: 16px; line-height: 18px; color: #e3e3e3; font-weight: normal; margin: 0; padding: 5px 0 10px 0 }
.clear { margin: 0; padding: 0; float: none; font-size: 0; line-height: 0; clear: both; height: 1px }
p { padding: 0; margin: 0 0 20px 0 }
.italic { font-style: italic; margin-top: 3px }
.gray { color: #e3e3e3 }
ul { margin: 0 0 10px 0; padding: 0; list-style-type: none }
ul li { background: url(/images/mobile_template/i/images_dark_yellow/bull.jpg) no-repeat 0 5px; padding: 0 0 4px 23px }
form { margin: 0 0 20px 0; padding: 0 }
table { border-collapse: collapse; width: 100% }
table th { border-collapse: collapse; padding: 9px; text-align: left }
table td { border-collapse: collapse; padding: 9px; border: 0 }
.tr_odd { background: #484c4f }
.green { color: #fae990 }
#header { width: 100%; height: 64px; top: 0; left: 0; background-color: #43484b; z-index: 3 }
#header_block { margin: 0 0 0 25px }
#header .block { margin: 15px 0 0 0; float: left }
#header .block img { max-width: 35px; width: 100% }
#header .block_link { margin-top: 24px }
#header .block_link img { position: relative; top: 3px; margin: 0 5px; width: auto }
#header table { width: auto }
#header table td { padding: 0 12px 0 0; vertical-align: middle }
#header table td.last { padding: 0 }
#logo { margin: 25px 25px 15px 25px }
#logo a img { max-width: 228px; width: 100% }
#middle { margin: 0 25px }
.menu { margin: 20px 0 }
.menu .title { font-size: 18px; color: #e3e3e3; margin-bottom: 10px }
.menu .block { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_bg.jpg) repeat-x; width: 100%; height: 35px; margin-bottom: 1px; position: relative }
.menu .block .left { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_2_left.jpg) no-repeat; width: 25px; height: 35px; position: absolute; top: 0; left: 0 }
.menu .block.first .left { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_1_left.jpg) no-repeat }
.menu .block.last .left { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_3_left.jpg) no-repeat }
.menu .block .right { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_2_right.jpg) no-repeat; width: 25px; height: 35px; position: absolute; top: 0; right: 0 }
.menu .block.first .right { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_1_right.jpg) no-repeat }
.menu .block.last .right { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_3_right.jpg) no-repeat }
.menu .block a { color: #fff; text-decoration: none; padding: 9px 0 0 12px; display: block; position: relative; font-weight: bold }
.menu_2 .block { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_bg_2.jpg) repeat-x }
.menu_2 .block .left { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_5_left.jpg) no-repeat }
.menu_2 .block.first .left { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_4_left.jpg) no-repeat }
.menu_2 .block.last .left { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_6_left.jpg) no-repeat }
.menu_2 .block .right { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_5_right.jpg) no-repeat }
.menu_2 .block.first .right { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_4_right.jpg) no-repeat }
.menu_2 .block.last .right { background: url(/images/mobile_template/i/images_dark_yellow/menu/arrow_6_right.jpg) no-repeat }
.menu_2 .block a { color: #e3e3e3 }
.item_block_50 { width: 49%; float: left; margin-bottom: 20px }
.item_block_50.last { float: right }
.item_block_50 .img { height: 110px; text-align: center; margin-bottom: 5px }
.item_block_50 .img img { height: 108px }
#item_full .img { width: 100%; height: 180px; text-align: center; margin: 20px 0 }
#item_full .img img { height: 180px }
#item_full .slider { margin: 0 auto; position: relative; width: 180px }
#item_full .slider .block { text-align: center; float: left; border: 1px solid transparent; margin-right: 12px; width: 34px; height: 34px; cursor: pointer }
#item_full .slider .block.last { margin-right: 0 }
#item_full .slider .block.active { border: 1px solid #f5c51b }
#item_full .slider .block img { height: 32px; margin-top: 1px }
#item_full .slider .arrow_left { background: url(/images/mobile_template/i/images_dark_yellow/arrows/left.jpg) no-repeat; width: 10px; height: 33px; cursor: pointer; position: absolute; top: 0; left: -22px }
#item_full .slider .arrow_left.active { background: url(/images/mobile_template/i/images_dark_yellow/arrows/left_active.jpg) no-repeat }
#item_full .slider .arrow_right { background: url(/images/mobile_template/i/images_dark_yellow/arrows/right.jpg) no-repeat; width: 10px; height: 33px; cursor: pointer; position: absolute; top: 0; right: -22px }
#item_full .slider .arrow_right.active { background: url(/images/mobile_template/i/images_dark_yellow/arrows/right_active.jpg) no-repeat }
#item_full #buy_block { margin: 20px 0 30px 0 }
#item_full #buy_block .left { text-align: right; float: left; width: 50% }
#item_full #buy_block .left .price_old { font-size: 14px; text-decoration: line-through; padding-right: 15px }
#item_full #buy_block .left .price_new { font-size: 24px; padding-right: 15px }
#item_full #buy_block .right { float: right; width: 50% }
#item_full #buy_block .right .buy { background: url(/images/mobile_template/i/images_dark_yellow/buy.jpg) no-repeat; width: 128px; height: 33px; display: block; position: relative; top: 6px }
.form .block, .form .block_2 { margin: 0 0 13px 0 }
.form .block input { width: 100% }
.form .block textarea { width: 100%; height: 40px }
.form .block_2 .check_block { margin-bottom: 3px }
.form .block_2 .check_block input { margin-right: 20px }
.captcha_block { margin-bottom: 15px }
.captcha_block img { position: relative; top: 7px; margin-right: 15px }
#footer { margin: 20px 25px 0 25px; border-top: 1px solid #cfcfcf; padding: 12px 0 }
#license { margin-top: 20px }

#middle .auth_form { margin-top: 20px; }
#middle .auth_form .title { font-size: 120%; font-weight: bold; margin-bottom: 15px; }
#middle .auth_form .block { margin-bottom: 10px; }

#cart .totals { margin: 15px 0; }
FORM.lk_search INPUT[type=text] { width: 100%; }