
.icon-star:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-star-half-alt:before { content: '\e802'; } /* '' */
.icon-th:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-angle-right:before { content: '\e80d'; } /* '' */
.icon-angle-up:before { content: '\e80c'; } /* '' */
.icon-angle-down:before { content: '\e803'; } /* '' */
.icon-down:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-tumblr:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-vimeo:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-list:before { content: '\e810'; } /* '' */