<!DOCTYPE html>
<html>
<head>	
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=<?=$nc_core->NC_CHARSET?>" />  
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <? /* Блок SEO */ ?>
    <? /* Запрос заголовка через ядро системы, если нету, то выводим хлебные крошки */ ?>
    <title><?=( ($title = $nc_core->page->get_title()) ? $title : strip_tags(s_browse_path($browse_path_title)))?></title>
    <? /* Запрос description через ядро системы */ ?>
    <?=( ($description=$nc_core->page->get_description()) ? "<meta name='description' content='".$description."'>" : "" )?>
    <? /* Запрос Keywords через ядро системы */ ?>
    <?=( ($keywords=$nc_core->page->get_keywords()) ? "<meta name='Keywords' content='".$keywords."'>" : "" )?>

	<link href="/css/colorbox.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">  
    <link href="/css/slick.css" rel="stylesheet">  
    <link href="/css/slick-theme.css" rel="stylesheet">  
	<link href="/css/style.css" rel="stylesheet">  
    <link href="http://allfont.ru/allfont.css?fonts=odessa-script-cyr" rel="stylesheet" type="text/css" />

	<script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/jquery.colorbox-min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/behavior.js"></script>
    
    <!-- //MONEY4HONEY CONTENT PROTECT JS --><script LANGUAGE="JavaScript">   document.ondragstart = test;   //запрет на перетаскивание     document.oncontextmenu = test;   //запрет на выведение контекстного меню   function test() {   return false   }   </script> <script type="text/javascript">    document.onkeydown=key;  function key()  {    window.status=event.keyCode;  if(event.keyCode==17)alert("КОПИРОВАНИЕ МАТЕРИАЛОВ ЗАПРЕЩЕНО!");  }  </script><!-- //MONEY4HONEY CONTENT PROTECT JS -->

</head>

<body <?= $sub != 1 ? "class='inner'" : NULL?>>

<div class="wrapper">

	<header class="header">

		<div class="wrapper">
			<?= $sub == 1 ? "<div class='logo'></div>" : "<a href='/'><div class='logo'></div></a>"?>
			<div class="phones whiteFont">				
				<div><?=$current_catalogue['Phone_1']?></div>
                <div><?=$current_catalogue['Phone_2']?></div>
			</div>
			<a href="#" class="callBack whiteFont"><span>Заказать обратный звонок</span></a>
		</div>
		
	</header><!-- .header-->

	<nav>
		<div class="wrapper">
			<div class="shedule">
				<?=$current_catalogue['WorkingTime']?>
			</div>
			<button class="takeClass top orange">Записаться на курс</button>
			<div class="menu">
				<?= nc_browse_sub(0, $top_menu1, 0, $where_cond = "Subdivision_ID < 8")?>
				<?= nc_browse_sub(0, $top_menu2, 0, $where_cond = "Subdivision_ID > 7")?>
			</div>
		</div>		
	</nav>	

	