<?php

// хлебные крошки для тайтла
$browse_path_title['active'] = "%NAME ";
$browse_path_title['active_link'] = "%NAME";
$browse_path_title['unactive'] = "%NAME";
$browse_path_title['divider'] = " / ";

$top_menu1['prefix']   = "<ul class='menuTop'>";
$top_menu1['suffix']   = "</ul>";
$top_menu1['active_link']   = "<li class='active'><span>%NAME</span></li>";
$top_menu1['active']   = "<li class='active'><a href='%URL'><span>%NAME</span></a></li>";
$top_menu1['unactive'] = "<li><a href='%URL'><span>%NAME</span></a></li>";
$top_menu1['divider'] = "";

$top_menu2['prefix']   = "<ul class='menuBottom'>";
$top_menu2['suffix']   = "</ul>";
$top_menu2['active_link']   = "<li class='active'><span>%NAME</span></li>";
$top_menu2['active']   = "<li class='active'><a href='%URL'><span>%NAME</span></a></li>";
$top_menu2['unactive'] = "<li><a href='%URL'><span>%NAME</span></a></li>";
$top_menu2['divider'] = "";

$footer_menu['prefix']   = "<ul>";
$footer_menu['suffix']   = "</ul>";
$footer_menu['active']   = "<li><a href='%URL'>%NAME</a></li>";
$footer_menu['unactive'] = "<li><a href='%URL'>%NAME</a></li>";
$footer_menu['divider'] = "";

$browse_msg['prefix']   = ""; // Префикс перед блоком навигации
$browse_msg['suffix']   = ""; // Суффикс после блока навигации
$browse_msg['active']   = "%PAGE"; // Формат вывода текущей страницы
$browse_msg['unactive'] = "<a href='%URL'>%PAGE</a>"; // Формат вывода ссылок
$browse_msg['divider']  = " "; // Разделитель между ссылками

?>